/* reset

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

nav
  ul, li
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline

fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

ol, ul
  list-style: none
  margin: 0
  padding: 0

blockquote, q
  quotes: none

blockquote
  &:before, &:after
    content: ''
    content: none

q
  &:before, &:after
    content: ''
    content: none

table
  border-collapse: collapse
  border-spacing: 0

/* start editing from here

a
  text-decoration: none

.txt-rt
  text-align: right

/* text align right

.txt-lt
  text-align: left

/* text align left

.txt-center
  text-align: center

/* text align center

.float-rt
  float: right

/* float right

.float-lt
  float: left

/* float left

.clear
  clear: both

/* clear float

.pos-relative
  position: relative

/* Position Relative

.pos-absolute
  position: absolute

/* Position Absolute

.vertical-base
  vertical-align: baseline

/* vertical align baseline

.vertical-top
  vertical-align: top

/* vertical align top

.underline
  padding-bottom: 5px
  border-bottom: 1px solid #eee
  margin: 0 0 20px 0

/* Add 5px bottom padding and a underline

nav
  &.vertical ul li
    display: block
  &.horizontal ul li
    display: inline-block


img
  max-width: 100%

/*end reset

@font-face 
  font-family: 'Aller Light'
  src: url(../project/aller.light.ttf) format(OpenType)



body
  font-family: 'Aller Light'
  background: #ffffff
  font-size: 100%

.wrap
  margin: 0 auto
  width: 80%

/* start header

.top_bg
  background: #242424

.header
  padding: 0  4%

.logo
  float: left
  margin: 14px 0

/* LOGIN or REGISTRATION

.log_reg
  border-right: 1px solid rgb(60, 60, 60)
  padding: 12px 16px
  float: right
  ul li
    display: inline-block
  li a
    font-family: 'Aller Light'
    font-size: 0.8125em
    display: block
    padding: 5px 8px
    color: #777777
    
    -webkit-text-stroke: 0.5px
  span.log
    font-size: 0.8125em
    color: #777777
    text-transform: lowercase
    -webkit-text-stroke: 0.5px

h2.style
  font-family: 'Aller Light'
  font-size: 1.8em
  color: #5e5e5e
  text-transform: capitalize

h4.style
  font-family: 'Aller Light'
  font-size: 1.5em
  color: #5e5e5e
  text-transform: capitalize
  border: 1px solid #3D3D3D
  padding: 1% 2%

.login_left
  float: left
  width: 44.33333%
  margin-left: 3.3333%
  background: #ffffff
  padding: 2%
  min-height: 350px
  &:first-child
    margin-left: 0
  h3
    font-family: 'Aller Light'
    font-size: 1.2em
    color: #57C5A0
    text-transform: uppercase
    text-shadow: 0 1px 0 white
    border-bottom: 1px solid #E9E9E9
    padding-bottom: 10px
  p
    font-family: 'Aller Light'
    font-size: 0.8725em
    line-height: 1.5em
    color: #555555
    margin: 4% 0

.btn form input[type="button"], .registration_form input[type="submit"]
  font-family: 'Aller Light'
  cursor: pointer
  background: #242424
  border: 1px solid #242424
  padding: 10px 20px
  outline: none
  color: #ffffff
  font-size: 1em
  text-transform: capitalize
  -webkit-appearance: none
  -webkit-transition: all 0.3s ease-in-out
  -moz-transition: all 0.3s ease-in-out
  -o-transition: all 0.3s ease-in-out
  transition: all 0.3s ease-in-out
  border-radius: 2px
  -webkit-border-radius: 2px
  -moz-border-radius: 2px
  -o-border-radius: 2px

.btn form input[type="button"]:hover, .registration_form input[type="submit"]:hover
  background: #57C5A0
  border: 1px solid #57c5a0

/*SEARCH BAR

.web_search
  position: relative
  float: right
  width: 28%
  border-right: 1px solid rgb(60, 60, 60)
  padding: 6px 10px
  form
    -webkit-transition: all 0.3s ease-in-out
    -moz-transition: all 0.3s ease-in-out
    -o-transition: all 0.3s ease-in-out
    transition: all 0.3s ease-in-out
    &:active, &:hover
      background: none
      -webkit-transition-property: width
      -moz-transition-property: width
      -ms-transition-property: width
      transition-property: width
      -webkit-transition-duration: .5s
      -moz-transition-duration: .5s
      -ms-transition-duration: .5s
      transition-duration: .5s
  input[type="text"]
    font-family: 'Aller Light'
    padding: 8px 20px
    outline: none
    border: none
    width: 76%
    background: none
    font-size: 1em
    color: #6d6d6d
  &:hover input[type="submit"]
    background: url(../Pictures/search.png) no-repeat 0px 4px
  input[type="submit"]
    background: url(../Pictures/search.png) no-repeat 0px 4px
    border: none
    width: 25px
    height: 25px
    cursor: pointer
    &:hover
      background: url(../Pictures/search.png) no-repeat 0px 4px

/* BANNER

.container1
  width: 100%
  position: relative
.centered
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  padding-left: 300px
  padding-bottom: 100px
  h2
    font-size: 40px
  h3
    font-size: 20px


.btn
  width: 100px
  padding: 10px
  border: 1px #57C5A0
  margin: 0
  background-color: #57C5A0
  color: #f9f7f7
  

.text
  position: absolute
  right: 15%
  top: 30%
  h2
    font-family: 'Aller Light'
    padding: 20px 0 0
    font-size: 40px
    line-height: 30px
    color: #242424
    text-transform: capitalize
  h3
    font-family: 'Aller Light'
    padding-top: 15px
    font-size: 30px
    line-height: 30px
    color: #333232
    &.active
      color: black

/* Shop by section

.custom-select
  background: #141414
  font-family: 'Aller Light'
  font-size: 25px
  color: #9B9B9B
  border: none
  width: 250px
  height: 50px

.row1
  padding-top: 10px
  padding-bottom: 20px
  &:after
    content: ""
    clear: both
    display: block
    text-align: center

.column1
  float: left
  padding: 10px 20px 10px 20px
  width: 20px
  margin-left: 200px
  background: none
  position: relative

/* grid/list view
/* Create 3 equal columns that floats next to each other

.column
  float: left
  padding: 10px 10px 10px 10px
  width: 30.33%
  margin-left: 4%
  background: #ffffff
  position: relative
  &:first-child
    margin-left: 0
  a
    display: block
    &:hover h3
      color: #57C5A0
      -webkit-transition: all 0.3s ease-in-out
      -moz-transition: all 0.3s ease-in-out
      -o-transition: all 0.3s ease-in-out
      transition: all 0.3s ease-in-out
  img
    padding: 5% 0
  h3
    border-top: 1px solid #EBEBEB
    padding: 10px
    font-size: 1.2em
    color: #000000
    -webkit-text-stroke: 0.2px
    text-shadow: 0 1px 0 #ffffff
    text-transform: capitalize
    padding-left: 150px

.row
  padding-top: 10px
  padding-bottom: 20px
  &:after
    content: ""
    clear: both
    display: block
    text-align: center

/* Clear floats after the columns

/* Style the buttons

.grid
  border: none
  outline: none
  padding: 12px 16px
  background-color: #f1f1f1
  cursor: pointer
  &:hover
    background-color: #ddd
  &:focus
    background-color: #666
    color: white

.price
  font-family: 'Aller Light'
  background: #57C5A0
  color: #F8F8FF
  font-size: 0.8725em
  padding: 25px 12px
  position: absolute
  bottom: 0px
  left: 10px

.price1
  font-family: 'Aller Light'
  font-size: 0.8725em
  color: #F8F8FF
  padding: 25px 15px
  position: absolute
  top: 0px
  right: 10px
  text-transform: uppercase
  &.bg
    background: #242424
  &.bg1
    background: #F27E4B
    width: 60px

/* start header_btm

.header_btm
  padding: 0 4%
  
.menu, .nav
  float: left
  ul li
    float: left
    border-left: 1px solid rgb(226, 226, 226)
    &:nth-child(6)
      border-right: 1px solid rgb(226, 226, 226)
    a

      font-family: 'Aller Light'
      display: block
      padding: 26px 30px
      color: #2d2d2d
      font-size: 1.1em
      text-transform: capitalize
      -webkit-text-stroke: 0.2px
      -webkit-transition: all 0.3s ease-in-out
      -moz-transition: all 0.3s ease-in-out
      -o-transition: all 0.3s ease-in-out
      transition: all 0.3s ease-in-out
    &.active a, a:hover
      color: #57C5A0
.hamburger
  background: none
  position: absolute
  top: 0
  left: 0
  line-height: 45px
  padding: 110px 15px 0px 15px
  color: #999
  border: 0
  font-size: 1.5em
  font-weight: bold
  cursor: pointer
  outline: none
  z-index: 10000000000000

.cross
  background: none
  position: absolute
  top: 0px
  left: 0
  padding: 115px 15px 0px 15px
  color: #999
  border: 0
  font-size: 1.5em
  line-height: 65px
  font-weight: bold
  cursor: pointer
  outline: none
  z-index: 10000000000000

.menu1
  z-index: 1000000
  font-weight: bold
  font-size: 0.8em
  width: 100%
  background: #f1f1f1
  position: absolute
  text-align: center
  font-size: 12px
  ul
    margin: 0
    padding: 0
    list-style-type: none
    list-style-image: none
  li
    display: block
    padding: 15px 0 15px 0
    border-bottom: #dddddd 1px solid
    &:hover
      display: block
      background: #ffffff
      padding: 15px 0 15px 0
      border-bottom: #dddddd 1px solid
  ul li a
    text-decoration: none
    margin: 0px
    color: #666
    &:hover
      color: #666
      text-decoration: none
  a
    text-decoration: none
    color: #666
    &:hover
      text-decoration: none
      color: #666

.glyphicon-home
  color: white
  font-size: 1.5em
  margin-top: 5px
  margin: 0 auto

/* start header_right

.header_right
  float: right
  ul li
    display: inline-block
    a
      font-family: 'Aller Light'
      display: block
      line-height: 1.8em
      font-size: 1em
      color: #ffffff
      padding: 20px 26px
      border-left: 1px solid rgb(226, 226, 226)
      -webkit-transition: all 0.3s ease-in-out
      -moz-transition: all 0.3s ease-in-out
      -o-transition: all 0.3s ease-in-out
      transition: all 0.3s ease-in-out
      &:hover
        zoom: 1
        filter: alpha(opacity = 50)
        opacity: 0.7
        -webkit-transition: opacity .15s ease-in-out
        -moz-transition: opacity .15s ease-in-out
        -ms-transition: opacity .15s ease-in-out
        -o-transition: opacity .15s ease-in-out
        transition: opacity .15s ease-in-out
    &:nth-child(2) a
      border-right: 1px solid rgb(226, 226, 226)
    a
      span
        background: #57C5A0
        padding: 5px 8px
        border-radius: 5px
        -webkit-border-radius: 5px
        -moz-border-radius: 5px
        -o-border-radius: 5px
        &.color1
          background: #999999
      > i
        width: 32px
        height: 32px
        display: inline-block
        vertical-align: middle
        transition: none
        &.art
          background: url(../Pictures/wishlist.png) no-repeat 4px 8px
        &.cart
          background: url(../Pictures/cart.png) no-repeat 5px 8px

/*-- start image1_of_3 --

.main1
  padding: 4% 4% 2%

.image1_of_3
  float: left
  width: 30.99999%
  margin-left: 3.3333%
  text-align: center
  &:first-child
    margin-left: 0
  img
    width: 100%
  span
    position: relative
    top: -120px
    &.tag
      font-family: 'Aller Light'
      padding: 15px 30px
      background: rgba(36, 36, 36, 0.85)
      color: #ffffff
      font-size: 1.5em
      text-transform: uppercase
      -webkit-transition: all 0.3s ease-in-out
      -moz-transition: all 0.3s ease-in-out
      -o-transition: all 0.3s ease-in-out
      transition: all 0.3s ease-in-out
      &:hover
        background: rgba(0, 0, 0, 0.61)

/* start main

.main_bg
  background: #EBE7DF

.main_top
  padding: 2% 4%

.main
  padding: 4%

.top_main
  margin: 3% 0
  &:first-child
    margin-top: 0
  h2
    font-family: 'Aller Light'
    float: left
    text-transform: capitalize
    color: #242424
    font-size: 1.5em
    text-shadow: 0 1px 0 #ffffff
    line-height: 1.8em
  a
    font-family: 'Aller Light'
    font-size: 1em
    float: right
    text-transform: capitalize
    padding: 8px 20px
    color: #BCB4A7
    border: 1px solid #BCB4A7
    -webkit-transition: all 0.3s ease-in-out
    -moz-transition: all 0.3s ease-in-out
    -o-transition: all 0.3s ease-in-out
    transition: all 0.3s ease-in-out
    &:hover
      background: #BCB4A7
      color: #fff

/* overlay effect

*
  box-sizing: border-box

.container
  position: relative
  width: 100%
  max-width: 300px

.overlay
  position: absolute
  bottom: 0
  background: white
  color: #f1f1f1
  width: 100%
  height: 50px
  transition: .5s ease
  opacity: 0
  color: white
  font-size: 20px
  padding: 20px
  text-align: center

.container:hover .overlay
  opacity: 1

.icn
  background: none
  border: none
  display: inline

/* start grids_of_3

.grids_of_3
  text-align: center
  display: inline-block

.grid1_of_3
  float: left
  width: 30.3333%
  margin-left: 4.3333%
  background: #ffffff
  position: relative
  &:first-child
    margin-left: 0
  a
    display: block
    &:hover h3
      color: #57C5A0
      -webkit-transition: all 0.3s ease-in-out
      -moz-transition: all 0.3s ease-in-out
      -o-transition: all 0.3s ease-in-out
      transition: all 0.3s ease-in-out
  img
    padding: 8% 0
  h3
    font-family: 'Aller Light'
    border-top: 1px solid #EBEBEB
    padding: 15px
    padding-left: 50px
    font-size: 1.2em
    color: #000000
    -webkit-text-stroke: 0.2px
    text-shadow: 0 1px 0 #ffffff
    text-transform: capitalize

.price
  font-family: 'Aller Light'
  background: #57C5A0
  color: #ffffff
  font-size: 0.8725em
  padding: 25px 12px
  position: absolute
  bottom: 0px
  left: 10px

.price1
  font-family: 'Aller Light'
  font-size: 0.8725em
  color: #ffffff
  padding: 25px 15px
  position: absolute
  top: 0px
  right: 10px
  text-transform: uppercase
  &.bg
    background: #242424
  &.bg1
    background: #F27E4B
    width: 60px

/* start grids_of_2

.grids_of_3
  display: block
  margin: 4% 0

.grid1_of_2
  float: left
  width: 45.77777%
  margin-left: 4.3333%
  &:first-child
    margin-left: 0
  &.bg
    background: #DFDBD4
    padding: 2%

.span1_of_2
  float: left
  width: 38.77777%
  margin-left: 6.3333%
  background: #DFDBD4
  padding: 4%
  &:first-child
    margin-left: 0

.grid1_of_2
  h2
    font-family: 'Aller Light'
    font-size: 1.2em
    color: #141414
    text-transform: uppercase
    -webkit-text-stroke: 0.4px
    text-shadow: 0 1px 0 #ffffff
    margin-bottom: 4%
  p
    font-family: 'Aller Light'
    font-size: 0.8725em
    line-height: 1.5em
    color: #141414
    -webkit-text-stroke: 0.4px
    text-shadow: 0 1px 0 #ffffff

/* start date

.grid_date
  margin-top: 4%
  &:first-child
    margin-top: 0

.date1
  float: left
  width: 12.3333%

.date_text
  float: left
  width: 84.3333%
  margin-left: 3.3333%

.date1 h4
  font-family: 'Aller Light'
  font-size: 0.8925em
  margin-top: 4px
  background: #57C5A0
  padding: 15px
  text-transform: uppercase
  color: #ffffff

.date_text h4 a
  font-family: 'Aller Light'
  display: block
  font-size: 1em
  color: #141414
  -webkit-text-stroke: 0.4px
  text-shadow: 0 1px 0 #ffffff
  margin-bottom: 2%
  -webkit-transition: all 0.3s ease-in-out
  -moz-transition: all 0.3s ease-in-out
  -o-transition: all 0.3s ease-in-out
  transition: all 0.3s ease-in-out
  &:hover
    color: #57C5A0

/* start footer_top

.footer_top
  background: #242424

.footer
  padding: 4%

/* start grids_of_3

.span_of_3
  display: block

.span1_of_3
  float: left
  width: 30.9999%
  margin-left: 3.3333%
  &:first-child
    margin-left: 0
  h3
    font-family: 'Aller Light'
    font-size: 1.2em
    color: #5e5e5e
    text-transform: uppercase
    -webkit-text-stroke: 0.5px
    margin-bottom: 6%
  p
    font-family: 'Aller Light'
    font-size: 0.8725em
    color: #9B9B9B
    line-height: 1.8em
    -webkit-text-stroke: 0.5px
    font-style: italic
    &.top
      margin-top: 2%
    a
      color: #57C5A0
      -webkit-transition: all 0.3s ease-in-out
      -moz-transition: all 0.3s ease-in-out
      -o-transition: all 0.3s ease-in-out
      transition: all 0.3s ease-in-out
      &:hover
        color: #9B9B9B

.f_nav li
  float: left
  width: 29.3333%
  margin: 0 14px 10px 0
  a
    display: block
    -webkit-transition: all 0.3s ease-in-out
    -moz-transition: all 0.3s ease-in-out
    -o-transition: all 0.3s ease-in-out
    transition: all 0.3s ease-in-out
    img
      width: 100%
    &:hover
      zoom: 1
      filter: alpha(opacity = 50)
      opacity: 0.7
      -webkit-transition: opacity .15s ease-in-out
      -moz-transition: opacity .15s ease-in-out
      -ms-transition: opacity .15s ease-in-out
      -o-transition: opacity .15s ease-in-out
      transition: opacity .15s ease-in-out

/* start footer_top

.footer_mid
  border-top: 1px solid #141414
  background: #242424

/* start f_search

.f_search
  float: left
  position: relative
  width: 24.3333%
  form input
    &[type="text"]
      font-family: 'Aller Light'
      font-style: italic
      -webkit-text-stroke: 0.5px
      font-size: 0.8725em
      line-height: 24px
      width: 77.3333%
      padding: 10px
      background: #2e2e2e
      color: #9B9B9B
      border: none
      outline: none
      -webkit-appearance: none
    &[type="submit"]
      cursor: pointer
      line-height: 24px
      position: absolute
      right: 0
      background: #3d3d3d url('../Pictures/search.png') no-repeat 16px 15px
      padding: 10px
      width: 16.33333%
      border: none
      outline: none
      -webkit-appearance: none
      -webkit-transition: all 0.3s ease-in-out
      -moz-transition: all 0.3s ease-in-out
      -o-transition: all 0.3s ease-in-out
      transition: all 0.3s ease-in-out
      &:hover
        background: #5d5d5d url('../Pictures/search.png') no-repeat 16px 15px

/* start soc_icons

.soc_icons
  float: right
  margin-right: 2%
  ul li
    float: left
    margin-left: 10px
    a
      display: block
      padding: 10px
      background: #2e2e2e no-repeat 20px 20px
      width: 35px
      height: 35px
      -webkit-transition: all 0.3s ease-in-out
      -moz-transition: all 0.3s ease-in-out
      -o-transition: all 0.3s ease-in-out
      transition: all 0.3s ease-in-out
      &:hover
        zoom: 1
        filter: alpha(opacity = 50)
        opacity: 0.7
        -webkit-transition: opacity .15s ease-in-out
        -moz-transition: opacity .15s ease-in-out
        -ms-transition: opacity .15s ease-in-out
        -o-transition: opacity .15s ease-in-out
        transition: opacity .15s ease-in-out

/* start footer_bg

.footer_bg
  background: #2e2e2e

#toTop
  display: none
  text-decoration: none
  position: fixed
  bottom: 10px
  right: 10px
  overflow: hidden
  width: 32px
  height: 32px
  border: none
  text-indent: 100%
  background: url(../Pictures/top-move.jpg) no-repeat right top

.f_nav1
  float: right
  li
    float: left
    margin-right: 10px
    a
      font-family: 'Aller Light'
      display: block
      color: #7D7D7D
      text-transform: capitalize
      font-size: 0.8725em
      -webkit-text-stroke: 0.5px
      -webkit-transition: all 0.3s ease-in-out
      -moz-transition: all 0.3s ease-in-out
      -o-transition: all 0.3s ease-in-out
      transition: all 0.3s ease-in-out
      &:hover
        color: #57C5A0

.copy
  float: left
  p
    font-family: 'Aller Light'
    color: #7D7D7D
    font-size: 0.8725em
    line-height: 1.8em
    -webkit-text-stroke: 0.5px
    a
      color: #57C5A0
      -webkit-transition: all 0.3s ease-in-out
      -moz-transition: all 0.3s ease-in-out
      -o-transition: all 0.3s ease-in-out
      transition: all 0.3s ease-in-out
      &:hover
        color: #7D7D7D

/* start about

.about
  display: block

.cont-grid
  float: left
  width: 62.3333%

.cont-grid-img
  margin-right: 3.3333%
  width: 34.33333%
  float: left
  img
    margin-top: 10px

.cont-grid h4
  font-family: 'Aller Light'
  line-height: 1.5em
  font-size: 1.5em
  text-transform: capitalize
  color: #333333
  text-shadow: 0 1px 0 #ffffff

p.para
  color: #555555
  text-shadow: 0 1px 0 #ffffff
  line-height: 1.5em
  font-size: 0.8725em

.cont-grid p, .about-p
  margin-top: 2%

.read_more
  margin-top: 2%
  a
    display: inline-block
    font-family: 'Aller Light'
    background: #242424
    border: 1px solid #242424
    padding: 10px 20px
    outline: none
    color: #ffffff
    font-size: 1em
    text-transform: capitalize
    -webkit-appearance: none
    -webkit-transition: all 0.3s ease-in-out
    -moz-transition: all 0.3s ease-in-out
    -o-transition: all 0.3s ease-in-out
    transition: all 0.3s ease-in-out
    border-radius: 2px
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    -o-border-radius: 2px
    &:hover
      background: #57C5A0
      border: 1px solid #57c5a0

/* start blog
.project
  display: block

.project-top
  padding: 2% 0

/*  GRID OF Content and sidebar

.cont
  display: block
  float: left

.rsidebar
  display: block
  float: left
  margin: 0% 0 0% 4.6%

.span_2_of_3
  width: 62.1%

.project-img img
  margin-bottom: 20px

.span_1_of_3
  width: 33.2%

.span_2_of_3 h3
  margin-bottom: 2%
  a
    font-family: 'Aller Light'
    line-height: 1.5em
    font-size: 1.5em
    text-transform: capitalize
    color: #333333
    text-shadow: 0 1px 0 #ffffff
    letter-spacing: -1px

ul.sidebar h3
  font-family: 'Aller Light'
  margin-bottom: 4%
  line-height: 1.5em
  font-size: 1.5em
  text-transform: capitalize
  color: #333333
  text-shadow: 0 1px 0 #ffffff
  letter-spacing: -1px

.span_2_of_3 p
  &:first-child
    margin-top: 0
  margin-top: 4%
span.black a
  color: #18188A
  cursor: pointer
  &:hover
    color: #000

p.submitted
  margin: 5px 0 15px
  float: left
  padding: 0 0 0 20px
  span a
    color: #000
    &:hover
      color: #555

.post-author
  margin-bottom: 2em
  padding: 20px 20px 0px
  border: 1px solid #DDD

.post-author_h a
  color: #645035
  &:hover
    color: #555

.post-author_gravatar
  float: left
  margin: 0 20px 0 0

.post-author_desc
  float: left
  width: 83.5%

.post-author_link p a
  color: #000
  &:hover
    color: #555

.post-author_gravatar img
  margin-bottom: 0
  box-shadow: none

#comment-6
  border: 1px solid #ddd
  background: #f7f7f7
  padding: 20px

.comment-author
  float: left
  margin: 0 20px 0 0

.wrapper
  position: relative
  width: 100%

.comment-author
  .author
    font-family: 'Aller Light'
    display: block
    padding-top: 6px
    width: 65px
    text-align: center
    text-transform: uppercase
    font-weight: bold
    font-size: 12px
    color: #555
  img
    margin-bottom: 0
    box-shadow: none
    border: none

.reply
  font-family: 'Aller Light'
  float: right
  margin-left: 28px
  font-size: 0.85em
  color: #000
  a
    color: #000
    &:hover
      color: #555

.comment-meta
  font-family: 'Aller Light'
  float: right
  color: #999
  font-size: 0.85em

.extra-wrap
  float: left

#comment-7
  border: 1px solid #ddd
  background: #f5f5f5
  padding: 20px
  margin: 20px 0px 20px 20px

.comment-form
  padding: 30px 0 0
  input[type="text"]
    padding: 10px 10px
    width: 47.4%
    font-family: 'Aller Light'
    margin: 10px 0
    border: 1px solid #E1E2E2
    color: #999
    background: #FFF
    float: left
    outline: none
    font-size: 0.85em
  textarea
    height: 100px
    padding: 10px 10px
    width: 97.4%
    font-family: 'Aller Light'
    margin: 10px 0
    border: 1px solid #E1E2E2
    color: #999
    background: #FFF
    float: left
    outline: none
    font-size: 0.85em
  input[type="submit"]
    color: #FFF
    font-size: 0.85em
    font-weight: normal
    padding: 12px 20px
    border: none
    background: #5A462A
    font-family: 'Aller Light'
    outline: none
    float: right
    display: inline-block
    cursor: pointer
    -webkit-transition: all 0.3s ease-out
    -moz-transition: all 0.3s ease-out
    -ms-transition: all 0.3s ease-out
    -o-transition: all 0.3s ease-out
    transition: all 0.3s ease-out
    &:hover
      background: #523E23
  h4
    color: #777
    margin-bottom: 10px
    font-size: 1.2em
    line-height: 1.2
    font-family: 'Aller Light'
    font-weight: normal
    margin-top: 0px
    letter-spacing: -1px
    text-transform: uppercase

ul.sidebar li
  
  margin: 0 20px 10px
  a
    font-family: 'Aller Light'
    vertical-align: middle
    font-size: 0.87255em
    color: #555555
    line-height: 1.5em
    text-shadow: 0 1px 0 #ffffff
    -webkit-transition: all 0.3s ease-in-out
    -moz-transition: all 0.3s ease-in-out
    -o-transition: all 0.3s ease-in-out
    transition: all 0.3s ease-in-out
    &:hover
      color: #39BD91

.archive
  padding: 20px 0
  h3
    font-family: 'Aller Light'
    margin-bottom: 2%
    line-height: 1.5em
    font-size: 1.5em
    text-transform: capitalize
    color: #333333
    text-shadow: 0 1px 0 #ffffff
    letter-spacing: -1px

ul.news li
  .date
    font-family: 'Aller Light'
    float: left
    background: #57C5A0
    margin-right: 20px
    font-size: 1em
    color: #FFF
    padding: 15px
  margin-bottom: 20px
  .desc
    float: left
    width: 79.33333%
    h4
      font-family: 'Aller Light'
      text-transform: uppercase
      margin-bottom: 8px
      a
        font-family: 'Aller Light'
        color: #329C79
        font-size: 0.87255em
        text-transform: uppercase
        text-shadow: 0 1px 0 #ffffff
        -webkit-transition: all 0.3s ease-in-out
        -moz-transition: all 0.3s ease-in-out
        -o-transition: all 0.3s ease-in-out
        transition: all 0.3s ease-in-out
        &:hover
          color: #242424

.recent-news h3
  font-family: 'Aller Light'
  margin-bottom: 4%
  line-height: 1.5em
  font-size: 1.5em
  text-transform: capitalize
  color: #333333
  text-shadow: 0 1px 0 #ffffff
  letter-spacing: -1px

.blogsidebar
  display: block
  float: left

.span_2_of_blog
  width: 70.1%

.span_1_of_blog
  width: 29.2%

.blog-list
  color: #555
  li
    font-family: 'Aller Light'
    color: #242424
    font-size: 0.8725em
    margin-bottom: 20px
    line-height: 1.5em
    text-shadow: 0 1px 0 #ffffff
    a
      -webkit-transition: all 0.3s ease-in-out
      -moz-transition: all 0.3s ease-in-out
      -o-transition: all 0.3s ease-in-out
      transition: all 0.3s ease-in-out
      color: #39BD91
      &:hover
        color: #242424

.blog
  padding: 20px 0

.blog-img, .blog-img1
  padding-top: 10px

/* start contact

.contact_left
  float: left
  margin-right: 3.3333%
  width: 32.3333%

.contact_right
  float: left
  width: 63.3333%

.contact_left h3
  font-family: 'Aller Light'
  margin-bottom: 2%
  line-height: 1.5em
  font-size: 1.5em
  text-transform: capitalize
  color: #333333
  text-shadow: 0 1px 0 #ffffff
  letter-spacing: -1px

.company_address
  padding-top: 10px
  p
    font-family: 'Aller Light'
    color: #555555
    text-shadow: 0 1px 0 #ffffff
    line-height: 1.8em
    font-size: 0.8725em
    a
      color: #39BD91
      cursor: pointer
      -webkit-transition: all 0.3s ease-in-out
      -moz-transition: all 0.3s ease-in-out
      -o-transition: all 0.3s ease-in-out
      transition: all 0.3s ease-in-out
      &:hover
        color: #242424

.contact_right h3
  font-family: 'Aller Light'
  margin-bottom: 2%
  line-height: 1.5em
  font-size: 1.5em
  text-transform: capitalize
  color: #333333
  text-shadow: 0 1px 0 #ffffff
  letter-spacing: -1px

.contact-form
  position: relative
  padding-bottom: 30px
  div
    padding: 5px 0
  span
    font-family: 'Aller Light'
    display: block
    color: #555555
    text-shadow: 0 1px 0 #ffffff
    line-height: 1.5em
    font-size: 0.8725em
  input[type="text"]
    font-family: 'Aller Light'
    padding: 10px
    display: block
    width: 98%
    background: #ffffff
    outline: none
    color: #555555
    font-size: 1em
    border: 1px solid #DADADA
    -webkit-appearance: none
  textarea
    font-family: 'Aller Light'
    padding: 10px
    display: block
    width: 98%
    background: #ffffff
    outline: none
    color: #555555
    font-size: 1em
    border: 1px solid #DADADA
    -webkit-appearance: none
    resize: none
    height: 120px
  input[type="submit"]
    margin-top: 10px
    font-family: 'Aller Light'
    cursor: pointer
    background: #242424
    border: 1px solid #242424
    padding: 10px 24px
    outline: none
    color: #ffffff
    font-size: 1em
    text-transform: capitalize
    -webkit-appearance: none
    -webkit-transition: all 0.3s ease-in-out
    -moz-transition: all 0.3s ease-in-out
    -o-transition: all 0.3s ease-in-out
    transition: all 0.3s ease-in-out
    border-radius: 2px
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    -o-border-radius: 2px
    &:hover
      background: #57C5A0
      border: 1px solid #57c5a0


/* Media Queries 

@media only screen and (max-width: 1600px) 
  .hamburger
    display: none
  .cross
    display: none
  .wrap
    width: 95%
  .web_search
    width: 26.33333%
  ul.news li .desc
    width: 78.33333%
  .product-image
    width: 77.33333% !important
  .row2
    padding-bottom: 40px

@media only screen and (max-width: 960px) 
  .top_bg
    width: 100%
  .main_top
    width: 100%
  .hamburger
    display: none    
  .cross
    display: none    
  .wrap
    width: 95%
  .menu ul li a
    padding: 26px 20px
  .header_right ul li a
    padding: 20px 10px
  .top-nav
    display: block
    top: 70px
  .f_search
    width: 38.3333%
  .copy
    text-align: center
    float: none
    clear: both
    margin: 4% 0
  .f_nav1
    text-align: center
    float: none
    li
      float: none
      margin-right: 10px
      display: inline-block
  .grid1_of_3, .column
    float: none
    margin-bottom: 4%
    width: 99.3333%
    margin-left: 0
    img
      padding: 4% 0
  .column
    h3
      padding-left: 100px
  .grid1_of_2
    width: 90.77777%
    margin-left: 0
    &.bg
      margin-top: 4%
      padding: 4%
  .cont-grid h4
    font-size: 1.2em
  .span1_of_3
    float: none
    width: 99.9999%
    margin-left: 0
    h3
      margin: 20px 0
  .span_2_of_3
    width: 100%
    float: none
  .span_1_of_3
    width: 100%
    margin: 0
  .contact_left
    float: none
    margin-right: 0%
    width: 100%
  .contact_right, .span1_of_1
    float: none
    width: 100%
  .left_content
    float: none
    width: 100%
    margin-right: 0%
  .left_sidebar
    float: none
    width: 100%
  .left_content_btm
    margin-top: 0%
  ul.color-list
    margin: 4% 0 0
  .login_left
    float: none
    width: 92.33333%
    margin-left: 0%
    background: #ffffff
    padding: 4%
    margin: 4% 0
  .reg_fb img
    padding: 15px
  .wrap
    width: 95%
  .tabs label
    width: 23.3333%
    padding: 0 20px
    font-size: 14px
  .f_search
    width: 100%
  label
    display: block
  .content
    width: 99.7777%
    min-height: 650px
  .f_search form input
    &[type="text"]
      width: 80%
    &[type="submit"]
      width: 45px
  .soc_icons
    float: none
    margin-right: 0
    text-align: center
    margin: 8% 0 4%
    display: inline-block
  .grid1_of_2
    float: none
    width: 100%
    margin-left: 0
  .span1_of_2
    float: none
    width: 90%
    padding: 4%
    margin: 4% 0
  .date1
    width: 18.3333%
  .date_text
    width: 78.3333%
  .top_main
    h2
      float: none
      text-align: center
    a
      float: none
      text-align: center
      margin: 4% 0 6%
      display: block
  .grid1_of_2.bg
    padding: 0
    background: none
  .container1
    width: 100%
    position: relative
  .centered
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    padding-left: 150px
    padding-bottom: 10px
    h2
      font-size: 30px
    h3
      font-size: 20px     
  .btn
    width: 90px
    padding: 10px
    margin: 0
  .column1
    float: none
    margin-bottom: 4%
    width: 20%
    margin-left: 0
  .custom-select
    font-size: 25px
    width: 100px
    height: 30px
  .column2
    padding-top: 0px
    padding-bottom: 30px
  .row2
    padding-bottom: 40px
  
@media only screen and (max-width: 768px)
  .hamburger
    display: inline-block
    padding: 90px 15px 0px 15px
  .cross
    display: inline-block
    padding: 90px 15px 0px 15px
  .menu ul li a
    display: none
  .cont-grid-img
    margin-right: 3px
    width: 300px
    height: 400px
    float: left
  img
    margin-top: 10px
  .column
    h3
      padding: 50%
  .web_search input[type="text"]
    width: 40%
  .grid1_of_3, .column
    float: none
    margin-bottom: 4%
    width: 99.3333%
    margin-left: 0
    img
      padding: 4% 0
  .column
    h3
      padding-left: 80px
      padding-top: 0px
      padding-bottom: 10px
  .f_search form input
    &[type="text"]
      width: 80.3333%
    &[type="submit"]
      width: 15%
  .soc_icons ul li a
    padding: 5px
    background: #2e2e2e no-repeat 12px 7px
  .tag
    font-size: 15px
  .web_search
    display: none
  .container1
    width: 100%
    position: relative
  .centered
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    padding-left: 30px
    padding-bottom: 10px
    h2
      font-size: 10px
    h3
      font-size: 8px   
  .btn
    width: 50px
    padding: 10px
    margin: 0
  .price
    font-size: 0.8725em
    padding: 25px 12px
    position: absolute
    bottom: 0px
    left: 10px
  .price1
    font-size: 0.8725em
    padding: 25px 15px
    position: absolute
    top: 0px
    right: 10px
    &.bg1
      width: 60px  
  .column1
    float: none
    margin-bottom: 4%
    width: 50%
    margin-left: 0
  .custom-select
    font-size: 15px
    width: 100px
    height: 20px 
  .row2
    padding-bottom: 40px
  
  
@media only screen and (max-width: 320px)
  .top_bg
    width: 100%
  .main_top
    width: 100%
  .hamburger
    display: inline-block
    padding: 120px 15px 0px 15px
  .cross
    display: inline-block
    padding: 120px 15px 0px 15px
  .wrap
    width: 95%
  .logo
    float: none
    text-align: center
  .log_reg
    float: none
    text-align: center
    border-right: none
  .grid1_of_3, .column
    float: none
    margin-bottom: 4%
    width: 99.3333%
    margin-left: 0
    img
      padding: 4% 0
  .column
    h3
      padding-left: 80px
      padding-top: 0px
      padding-bottom: 10px
  .price1
    font-size: 10px
  .f_search form input
    &[type="text"]
      width: 80.3333%
    &[type="submit"]
      width: 18.33333%
  .tabs
    label
      width: 84.3333%
      padding: 0 20px
    input
      width: 98.33333%
      &#tab-2, &#tab-3
        left: 0
  .content
    width: 99.7777%
    min-height: 950px
    ul
      margin-left: 0px
    div
      width: 80.3333%
  .soc_icons ul li a
    padding: 5px
    background: #2e2e2e no-repeat 12px 7px
  .cont-grid-img
    margin-right: 3px
    width: 200px
    height: 300px
    float: left
    img
      margin-top: 10px
  .container1
    width: 100%
    position: relative
  .centered
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    padding-left: 30px
    padding-bottom: 10px
    h2
      font-size: 10px
    h3
      font-size: 5px    
  .btn
    width: 30px
    padding: 10px
    margin: 0
  .price
    font-size: 0.8725em
    padding: 25px 12px
    position: absolute
    bottom: 0px
    left: 10px
  .price1
    font-size: 0.8725em
    padding: 25px 15px
    position: absolute
    top: 0px
    right: 10px
    &.bg1
      width: 60px  
  .column1
    float: none
    margin-bottom: 4%
    width: 50%
    margin-left: 0
  .custom-select
    font-size: 15px
    width: 100px
    height: 20px 
  .row2
    padding-bottom: 40px
    