html.mm-opened
  .mm-page, #mm-blocker, .mm-fixed-top, .mm-fixed-bottom, .mm-menu.mm-horizontal > .mm-panel
    -webkit-transition: none 0.4s ease
    -moz-transition: none 0.4s ease
    -ms-transition: none 0.4s ease
    -o-transition: none 0.4s ease
    font-family: 'Maven Pro', sans-serif
    transition: none 0.4s ease
    -webkit-transition-property: top, right, bottom, left, border, -webkit-transform
    -moz-transition-property: top, right, bottom, left, border, -moz-transform
    -ms-transition-property: top, right, bottom, left, border, -ms-transform
    -o-transition-property: top, right, bottom, left, border, -o-transform
    transition-property: top, right, bottom, left, border, transform
  .mm-page, #mm-blocker
    left: 0%
    top: 0
    margin: 0
    border: 0px solid rgba(0, 0, 0, 0)
  &.mm-opening
    .mm-page, #mm-blocker
      border: 0px solid rgba(100, 100, 100, 0)

.mm-menu .mm-hidden
  display: none

.mm-fixed-top, .mm-fixed-bottom
  position: fixed
  left: 0

.mm-fixed-top
  top: 0

.mm-fixed-bottom
  bottom: 0

html.mm-opened .mm-page, .mm-menu > .mm-panel
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -ms-box-sizing: border-box
  -o-box-sizing: border-box
  box-sizing: border-box

html
  &.mm-opened
    width: 100%
    height: 100%
    overflow: hidden
    position: relative
    body
      width: 100%
      height: 100%
      overflow: hidden
      position: relative
    .mm-page
      height: 100%
      overflow: hidden
      position: absolute
  &.mm-background .mm-page
    background: inherit

#mm-blocker
  background: #fff
  opacity: 0
  display: none
  width: 100%
  height: 100%
  position: absolute
  z-index: 9999

html
  &.mm-opened #mm-blocker, &.mm-blocking #mm-blocker
    display: block

.mm-menu
  &.mm-current
    display: block
  background: inherit
  display: none
  overflow: hidden
  height: 100%
  padding: 0
  position: absolute
  left: 0
  top: 0
  z-index: 0
  > .mm-panel
    background: inherit
    -webkit-overflow-scrolling: touch
    overflow: scroll
    overflow-x: hidden
    overflow-y: auto
    width: 100%
    height: 100%
    padding: 20px
    position: absolute
    top: 0
    left: 100%
    z-index: 0
    &.mm-opened
      left: 0%
    &.mm-subopened
      left: -40%
    &.mm-highest
      z-index: 1
    &.mm-hidden
      display: block
      visibility: hidden
  .mm-list
    padding: 20px 0
  > .mm-list
    padding: 20px 0 40px 0

.mm-panel > .mm-list
  margin-left: -20px
  margin-right: -20px
  &:first-child
    padding-top: 0

.mm-list
  border-bottom: 1px solid #ffffff
  list-style: none
  display: block
  padding: 0
  margin: 0
  > li
    border-bottom: 1px solid #ffffff
    list-style: none
    display: block
    padding: 0
    margin: 0
  li.welcome
    color: #FFF
  font: inherit
  font-size: 14px
  a
    text-decoration: none
    &:hover
      text-decoration: none
    &.mm-subopen
      width: 40px
      height: 100%
      padding: 0
      position: absolute
      right: 0
      top: 0
      z-index: 2
      &::before
        content: ''
        border-left-width: 1px
        border-left-style: solid
        display: block
        height: 100%
        position: absolute
        left: 0
        top: 0
      &.mm-fullsubopen
        width: 100%
        &:before
          border-left: none
      +
        a, span
          padding-right: 5px
          margin-right: 40px
    &.mm-subclose
      text-indent: 20px
      padding-top: 30px
      margin-top: -20px
    &.mm-subopen:after, &.mm-subclose:before
      content: ''
      border: 2px solid transparent
      display: block
      width: 7px
      height: 7px
      margin-bottom: -5px
      position: absolute
      bottom: 50%
      -webkit-transform: rotate(-45deg)
      -moz-transform: rotate(-45deg)
      -ms-transform: rotate(-45deg)
      -o-transform: rotate(-45deg)
      transform: rotate(-45deg)
    &.mm-subopen:after
      border-top: none
      border-left: none
      right: 18px
    &.mm-subclose:before
      border-right: none
      border-bottom: none
      margin-bottom: -15px
      left: 22px
  > li
    position: relative
    >
      a, span
        text-transform: uppercase
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden
        color: #fff
        line-height: 20px
        display: block
        padding: 10px 10px 10px 15px
        font-weight: 400
        margin: 0
    img
      vertical-align: sub
      margin-right: 5px
    &:not(.mm-subtitle):not(.mm-label):not(.mm-noresults)
      &::after
        content: ''
        display: block
        width: 100%
        position: absolute
        bottom: 0
        left: 0
      &:after
        width: auto
        margin-left: 20px
        position: relative
        left: auto
  > li.mm-selected > a
    &.mm-subopen
      background: transparent
    &.mm-fullsubopen +
      a, span
        padding-right: 45px
        margin-right: 0
  > li
    &.mm-label
      text-overflow: ellipsis
      white-space: nowrap
      overflow: hidden
      font-size: 10px
      text-transform: uppercase
      text-indent: 20px
      line-height: 25px
      padding-right: 5px
    &.mm-spacer
      padding-top: 40px
      &.mm-label
        padding-top: 25px

.mm-menu.mm-vertical .mm-list
  .mm-panel
    display: none
    padding: 10px 0 10px 10px
    li:last-child:after
      border-color: transparent
  li.mm-opened > .mm-panel
    display: block
  > li.mm-opened > a.mm-subopen
    height: 40px
    &:after
      -webkit-transform: rotate(45deg)
      -moz-transform: rotate(45deg)
      -ms-transform: rotate(45deg)
      -o-transform: rotate(45deg)
      transform: rotate(45deg)
      top: 16px
      right: 16px

html.mm-opened .mm-page

.mm-ismenu
  background: #57C5A0

.mm-menu
  color: rgba(255, 255, 255, 0.6)
  .mm-list > li
    &:after
      border-color: rgba(0, 0, 0, 0.15)
    > a
      &.mm-subclose
        background: rgba(0, 0, 0, 0.1)
        color: rgba(255, 255, 255, 0.3)
      &.mm-subopen:after, &.mm-subclose:before
        border-color: rgba(255, 255, 255, 0.3)
      &.mm-subopen:before
        border-color: rgba(0, 0, 0, 0.15)
    &.mm-selected >
      a:not(.mm-subopen), span
        background: rgba(0, 0, 0, 0.1)
    &.mm-label
      background: rgba(255, 255, 255, 0.05)
  &.mm-vertical .mm-list li.mm-opened >
    a.mm-subopen, ul
      background: rgba(255, 255, 255, 0.05)

html.mm-opened.mm-opening
  .mm-page, #mm-blocker, .mm-fixed-top, .mm-fixed-bottom
    left: 80%

.mm-menu
  width: 80%

@media all and (max-width: 175px)
  .mm-menu
    width: 140px
  html.mm-opened.mm-opening
    .mm-page, #mm-blocker, .mm-fixed-top, .mm-fixed-bottom
      left: 140px

@media all and (min-width: 550px)
  .mm-menu
    width: 440px
  html.mm-opened.mm-opening
    .mm-page, #mm-blocker, .mm-fixed-top, .mm-fixed-bottom
      left: 440px

html.mm-nooverflowscrolling.mm-opened
  height: auto
  overflow: auto
  overflow-x: hidden
  overflow-y: scroll
  body
    overflow: auto
  .mm-page
    min-height: 1000px
    position: fixed
  .mm-menu
    height: auto
    min-height: 1000px
    overflow: auto
    overflow-x: hidden
    position: relative
    left: auto
    top: auto
  > .mm-panel
    position: relative
    height: auto
    display: none
    left: 0
    &.mm-current
      display: block

/* jQuery.mmenu counters addon CSS */

em.mm-counter
  font: inherit
  font-size: 14px
  font-style: normal
  text-indent: 0
  line-height: 20px
  display: block
  margin-top: -10px
  position: absolute
  right: 40px
  top: 50%
  + a
    &.mm-subopen
      padding-left: 40px
      +
        a, span
          margin-right: 80px
    &.mm-fullsubopen
      padding-left: 0

.mm-vertical em.mm-counter
  top: 12px
  margin-top: 0

.mm-nosubresults > em.mm-counter
  display: none

.mm-menu em.mm-counter
  color: rgba(255, 255, 255, 0.3)

/* jQuery.mmenu dragOpen addon CSS */

html.mm-opened.mm-dragging
  .mm-menu, .mm-page, #mm-blocker
    -webkit-transition-duration: 0s
    -moz-transition-duration: 0s
    -ms-transition-duration: 0s
    -o-transition-duration: 0s
    transition-duration: 0s

/* jQuery.mmenu header addon CSS */

.mm-header
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -ms-box-sizing: border-box
  -o-box-sizing: border-box
  box-sizing: border-box
  background: inherit
  border-bottom: 1px solid transparent
  text-align: center
  line-height: 20px
  width: 100%
  height: 60px
  padding: 30px 40px 0 40px
  position: absolute
  z-index: 2
  top: 0
  left: 0
  .mm-title
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    display: inline-block
    width: 100%
    position: relative
    z-index: 1
  .mm-prev, .mm-next
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    -ms-box-sizing: border-box
    -o-box-sizing: border-box
    box-sizing: border-box
    text-decoration: none
    display: block
    width: 40px
    height: 100%
    position: absolute
    bottom: 0
  .mm-prev:before, .mm-next:before
    content: ''
    border: 2px solid transparent
    display: block
    width: 7px
    height: 7px
    margin-bottom: -5px
    position: absolute
    bottom: 50%
    -webkit-transform: rotate(-45deg)
    -moz-transform: rotate(-45deg)
    -ms-transform: rotate(-45deg)
    -o-transform: rotate(-45deg)
    transform: rotate(-45deg)
    margin-bottom: -15px
  .mm-prev
    left: 0
    &:before
      border-right: none
      border-bottom: none
      left: 22px
  .mm-next
    right: 0
    &:before
      border-top: none
      border-left: none
      right: 18px

.mm-menu
  &.mm-hassearch .mm-header
    height: 50px
    padding-top: 20px
    top: 50px
    .mm-prev:before, .mm-mext:before
      margin-bottom: -10px
  &.mm-hasheader
    li.mm-subtitle
      display: none
    .mm-panel
      padding-top: 80px
    &.mm-hassearch > .mm-panel
      padding-top: 120px
    &.mm-ismenu
      > .mm-panel
        padding-top: 60px
      &.mm-hassearch > .mm-panel
        padding-top: 100px
  .mm-header
    border-color: rgba(0, 0, 0, 0.15)
    color: rgba(255, 255, 255, 0.3)
    a:before
      border-color: rgba(255, 255, 255, 0.3)
  &.mm-fixedlabels .mm-list
    background: inherit
    > li.mm-label
      background: inherit !important
      opacity: 0.97
      height: 25px
      overflow: visible
      position: relative
      z-index: 1
      > div
        background: inherit
        width: 100%
        position: absolute
        left: 0
        > div
          text-overflow: ellipsis
          white-space: nowrap
          overflow: hidden
      &.mm-spacer > div > div
        padding-top: 25px

/* jQuery.mmenu labels addon CSS */

.mm-list > li
  &.mm-label
    > span
      text-overflow: ellipsis
      white-space: nowrap
      overflow: hidden
      padding: 0
    &.mm-opened a.mm-subopen:after
      -webkit-transform: rotate(45deg)
      -moz-transform: rotate(45deg)
      -ms-transform: rotate(45deg)
      -o-transform: rotate(45deg)
      transform: rotate(45deg)
      right: 17px
  &.mm-collapsed
    display: none

.mm-menu .mm-list li.mm-label > div > div
  background: rgba(255, 255, 255, 0.05)

/* jQuery.mmenu searchfield addon CSS */

.mm-search
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -ms-box-sizing: border-box
  -o-box-sizing: border-box
  box-sizing: border-box
  input
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    -ms-box-sizing: border-box
    -o-box-sizing: border-box
    box-sizing: border-box
    border: none
    border-radius: 15px
    font: inherit
    font-size: 14px
    line-height: 30px
    outline: none
    display: block
    width: 100%
    height: 30px
    margin: 0
    padding: 0 10px
  background: inherit
  width: 100%
  height: 50px
  padding: 10px
  position: relative
  top: 0
  z-index: 2

.mm-menu
  li
    &.mm-nosubresults > a.mm-subopen
      display: none
      +
        a, span
          padding-right: 10px
    &.mm-noresults
      text-align: center
      font-size: 21px
      display: none
      padding-top: 80px
      &:after
        border: none
  &.mm-noresults li.mm-noresults
    display: block
  &.mm-hassearch > .mm-panel
    padding-top: 60px
  .mm-search input
    background: rgba(255, 255, 255, 0.3)
    color: rgba(255, 255, 255, 0.6)
  li.mm-noresults
    color: rgba(255, 255, 255, 0.3)

/*jQuery.mmenu effects extension CSS */

html
  &.mm-slide
    .mm-menu
      -webkit-transition: -webkit-transform 0.4s ease
      -moz-transition: -moz-transform 0.4s ease
      -o-transition: -o-transform 0.4s ease
      transition: transform 0.4s ease
    &.mm-opened .mm-menu
      -webkit-transform: translateX(-40%)
      -moz-transform: translateX(-40%)
      -ms-transform: translateX(-40%)
      -o-transform: translateX(-40%)
      transform: translateX(-40%)
    &.mm-opening .mm-menu
      -webkit-transform: translateX(0%)
      -moz-transform: translateX(0%)
      -ms-transform: translateX(0%)
      -o-transform: translateX(0%)
      transform: translateX(0%)
    &.mm-right
      &.mm-opened .mm-menu
        -webkit-transform: translateX(40%)
        -moz-transform: translateX(40%)
        -ms-transform: translateX(40%)
        -o-transform: translateX(40%)
        transform: translateX(40%)
      &.mm-opening .mm-menu
        -webkit-transform: translateX(0%)
        -moz-transform: translateX(0%)
        -ms-transform: translateX(0%)
        -o-transform: translateX(0%)
        transform: translateX(0%)
    &.mm-top
      &.mm-opened .mm-menu
        -webkit-transform: translateY(-40%)
        -moz-transform: translateY(-40%)
        -ms-transform: translateY(-40%)
        -o-transform: translateY(-40%)
        transform: translateY(-40%)
      &.mm-opening .mm-menu
        -webkit-transform: translateY(0%)
        -moz-transform: translateY(0%)
        -ms-transform: translateY(0%)
        -o-transform: translateY(0%)
        transform: translateY(0%)
    &.mm-bottom
      &.mm-opened .mm-menu
        -webkit-transform: translateY(40%)
        -moz-transform: translateY(40%)
        -ms-transform: translateY(40%)
        -o-transform: translateY(40%)
        transform: translateY(40%)
      &.mm-opening .mm-menu
        -webkit-transform: translateY(0%)
        -moz-transform: translateY(0%)
        -ms-transform: translateY(0%)
        -o-transform: translateY(0%)
        transform: translateY(0%)
  &.mm-zoom-menu
    .mm-menu
      -webkit-transition: -webkit-transform 0.4s ease
      -moz-transition: -moz-transform 0.4s ease
      -o-transition: -o-transform 0.4s ease
      transition: transform 0.4s ease
    &.mm-opened .mm-menu
      -webkit-transform: scale(0.7, 0.7) translateX(-40%)
      -moz-transform: scale(0.7, 0.7) translateX(-40%)
      -ms-transform: scale(0.7, 0.7) translateX(-40%)
      -o-transform: scale(0.7, 0.7) translateX(-40%)
      transform: scale(0.7, 0.7) translateX(-40%)
      -webkit-transform-origin: left center
      -moz-transform-origin: left center
      -ms-transform-origin: left center
      -o-transform-origin: left center
      transform-origin: left center
    &.mm-opening .mm-menu
      -webkit-transform: scale(1, 1) translateX(0%)
      -moz-transform: scale(1, 1) translateX(0%)
      -ms-transform: scale(1, 1) translateX(0%)
      -o-transform: scale(1, 1) translateX(0%)
      transform: scale(1, 1) translateX(0%)
    &.mm-right
      &.mm-opened .mm-menu
        -webkit-transform: scale(0.7, 0.7) translateX(40%)
        -moz-transform: scale(0.7, 0.7) translateX(40%)
        -ms-transform: scale(0.7, 0.7) translateX(40%)
        -o-transform: scale(0.7, 0.7) translateX(40%)
        transform: scale(0.7, 0.7) translateX(40%)
        -webkit-transform-origin: right center
        -moz-transform-origin: right center
        -ms-transform-origin: right center
        -o-transform-origin: right center
        transform-origin: right center
      &.mm-opening .mm-menu
        -webkit-transform: scale(1, 1) translateX(0%)
        -moz-transform: scale(1, 1) translateX(0%)
        -ms-transform: scale(1, 1) translateX(0%)
        -o-transform: scale(1, 1) translateX(0%)
        transform: scale(1, 1) translateX(0%)
    &.mm-top
      &.mm-opened .mm-menu
        -webkit-transform: scale(0.7, 0.7) translateY(-40%)
        -moz-transform: scale(0.7, 0.7) translateY(-40%)
        -ms-transform: scale(0.7, 0.7) translateY(-40%)
        -o-transform: scale(0.7, 0.7) translateY(-40%)
        transform: scale(0.7, 0.7) translateY(-40%)
        -webkit-transform-origin: center top
        -moz-transform-origin: center top
        -ms-transform-origin: center top
        -o-transform-origin: center top
        transform-origin: center top
      &.mm-opening .mm-menu
        -webkit-transform: scale(1, 1) translateY(0%)
        -moz-transform: scale(1, 1) translateY(0%)
        -ms-transform: scale(1, 1) translateY(0%)
        -o-transform: scale(1, 1) translateY(0%)
        transform: scale(1, 1) translateY(0%)
    &.mm-bottom
      &.mm-opened .mm-menu
        -webkit-transform: scale(0.7, 0.7) translateY(40%)
        -moz-transform: scale(0.7, 0.7) translateY(40%)
        -ms-transform: scale(0.7, 0.7) translateY(40%)
        -o-transform: scale(0.7, 0.7) translateY(40%)
        transform: scale(0.7, 0.7) translateY(40%)
        -webkit-transform-origin: center bottom
        -moz-transform-origin: center bottom
        -ms-transform-origin: center bottom
        -o-transform-origin: center bottom
        transform-origin: center bottom
      &.mm-opening .mm-menu
        -webkit-transform: scale(1, 1) translateY(0%)
        -moz-transform: scale(1, 1) translateY(0%)
        -ms-transform: scale(1, 1) translateY(0%)
        -o-transform: scale(1, 1) translateY(0%)
        transform: scale(1, 1) translateY(0%)
  &.mm-zoom-page
    &.mm-opened .mm-page
      -webkit-transform: scale(1, 1)
      -moz-transform: scale(1, 1)
      -ms-transform: scale(1, 1)
      -o-transform: scale(1, 1)
      transform: scale(1, 1)
      -webkit-transform-origin: left center
      -moz-transform-origin: left center
      -ms-transform-origin: left center
      -o-transform-origin: left center
      transform-origin: left center
    &.mm-opening .mm-page
      -webkit-transform: scale(1.5, 1.5)
      -moz-transform: scale(1.5, 1.5)
      -ms-transform: scale(1.5, 1.5)
      -o-transform: scale(1.5, 1.5)
      transform: scale(1.5, 1.5)
    &.mm-right.mm-opened .mm-page
      -webkit-transform-origin: right center
      -moz-transform-origin: right center
      -ms-transform-origin: right center
      -o-transform-origin: right center
      transform-origin: right center
    &.mm-top.mm-opened .mm-page
      -webkit-transform-origin: center top
      -moz-transform-origin: center top
      -ms-transform-origin: center top
      -o-transform-origin: center top
      transform-origin: center top
    &.mm-bottom.mm-opened .mm-page
      -webkit-transform-origin: center bottom
      -moz-transform-origin: center bottom
      -ms-transform-origin: center bottom
      -o-transform-origin: center bottom
      transform-origin: center bottom
  &.mm-zoom-panels .mm-panel
    -webkit-transform: scale(1.5, 1.5)
    -moz-transform: scale(1.5, 1.5)
    -ms-transform: scale(1.5, 1.5)
    -o-transform: scale(1.5, 1.5)
    transform: scale(1.5, 1.5)
    -webkit-transform-origin: left center
    -moz-transform-origin: left center
    -ms-transform-origin: left center
    -o-transform-origin: left center
    transform-origin: left center
    &.mm-opened
      -webkit-transform: scale(1, 1)
      -moz-transform: scale(1, 1)
      -ms-transform: scale(1, 1)
      -o-transform: scale(1, 1)
      transform: scale(1, 1)
      &.mm-subopened
        -webkit-transform: scale(0.7, 0.7)
        -moz-transform: scale(0.7, 0.7)
        -ms-transform: scale(0.7, 0.7)
        -o-transform: scale(0.7, 0.7)
        transform: scale(0.7, 0.7)
  &.mm-opened.mm-opening.mm-fullscreen
    .mm-page, #mm-blocker, .mm-fixed-top, .mm-fixed-bottom
      left: 100%

/* jQuery.mmenu fullscreen extension CSS */

.mm-menu
  &.mm-fullscreen
    width: 100%
  &.mm-top.mm-fullscreen
    height: 100%

@media all and (max-width: 140px)
  .mm-menu.mm-fullscreen
    width: 140px
  html.mm-opened.mm-opening.mm-fullscreen
    .mm-page, #mm-blocker, .mm-fixed-top, .mm-fixed-bottom
      left: 140px

@media all and (min-width: 10000px)
  .mm-menu.mm-fullscreen
    width: 10000px
  html.mm-opened.mm-opening.mm-fullscreen
    .mm-page, #mm-blocker, .mm-fixed-top, .mm-fixed-bottom
      left: 10000px

html.mm-top.mm-opened.mm-opening.mm-fullscreen
  .mm-page, #mm-blocker, .mm-fixed-top
    top: 100%
  .mm-fixed-bottom
    bottom: -100%

@media all and (max-height: 140px)
  .mm-menu.mm-top.mm-fullscreen
    height: 140px
  html.mm-top.mm-opened.mm-opening.mm-fullscreen
    .mm-page, #mm-blocker, .mm-fixed-top
      top: 140px
    .mm-fixed-bottom
      bottom: -140px

@media all and (min-height: 10000px)
  .mm-menu.mm-top.mm-fullscreen
    height: 10000px
  html.mm-top.mm-opened.mm-opening.mm-fullscreen
    .mm-page, #mm-blocker, .mm-fixed-top
      top: 10000px
    .mm-fixed-bottom
      bottom: -10000px

.mm-menu.mm-right.mm-fullscreen
  width: 100%

html.mm-right.mm-opened.mm-opening.mm-fullscreen
  .mm-page, #mm-blocker, .mm-fixed-top, .mm-fixed-bottom
    right: 100%

@media all and (max-width: 140px)
  .mm-menu.mm-right.mm-fullscreen
    width: 140px
  html.mm-right.mm-opened.mm-opening.mm-fullscreen
    .mm-page, #mm-blocker, .mm-fixed-top, .mm-fixed-bottom
      right: 140px

@media all and (min-width: 10000px)
  .mm-menu.mm-right.mm-fullscreen
    width: 10000px
  html.mm-right.mm-opened.mm-opening.mm-fullscreen
    .mm-page, #mm-blocker, .mm-fixed-top, .mm-fixed-bottom
      right: 10000px

.mm-menu.mm-bottom.mm-fullscreen
  height: 100%

html.mm-bottom.mm-opened.mm-opening.mm-fullscreen
  .mm-page, #mm-blocker, .mm-fixed-bottom
    bottom: 100%
  .mm-fixed-top
    top: -100%

@media all and (max-height: 140px)
  .mm-menu.mm-bottom.mm-fullscreen
    height: 140px
  html.mm-bottom.mm-opened.mm-opening.mm-fullscreen
    .mm-page, #mm-blocker, .mm-fixed-bottom
      bottom: 140px
    .mm-fixed-top
      top: -140px

@media all and (min-height: 10000px)
  .mm-menu.mm-bottom.mm-fullscreen
    height: 10000px
  html.mm-bottom.mm-opened.mm-opening.mm-fullscreen
    .mm-page, #mm-blocker, .mm-fixed-bottom
      bottom: 10000px
    .mm-fixed-top
      top: -10000px

.mm-menu
  &.mm-fullscreen
    &.mm-front, &.mm-next
      left: -100%
  &.mm-top.mm-fullscreen
    &.mm-front, &.mm-next
      top: -100%
  &.mm-right.mm-fullscreen
    &.mm-front, &.mm-next
      right: -100%
  &.mm-bottom.mm-fullscreen
    &.mm-front, &.mm-next
      bottom: -100%

@media all and (max-width: 140px)
  .mm-menu.mm-fullscreen
    &.mm-front, &.mm-next
      left: -140px

@media all and (min-width: 10000px)
  .mm-menu.mm-fullscreen
    &.mm-front, &.mm-next
      left: -10000px

@media all and (max-height: 140px)
  .mm-menu.mm-top.mm-fullscreen
    &.mm-front, &.mm-next
      top: -140px

@media all and (min-height: 10000px)
  .mm-menu.mm-top.mm-fullscreen
    &.mm-front, &.mm-next
      top: -10000px

@media all and (max-width: 140px)
  .mm-menu.mm-right.mm-fullscreen
    &.mm-front, &.mm-next
      right: -140px

@media all and (min-width: 10000px)
  .mm-menu.mm-right.mm-fullscreen
    &.mm-front, &.mm-next
      right: -10000px

@media all and (max-height: 140px)
  .mm-menu.mm-bottom.mm-fullscreen
    &.mm-front, &.mm-next
      bottom: -140px

@media all and (min-height: 10000px)
  .mm-menu.mm-bottom.mm-fullscreen
    &.mm-front, &.mm-next
      bottom: -10000px

html
  &.mm-opened
    &.mm-front
      .mm-fixed-top, .mm-fixed-bottom
        left: 0
        right: auto
    &.mm-opening.mm-front
      .mm-fixed-top, .mm-fixed-bottom
        left: 0
        right: auto
    &.mm-front .mm-fixed-top, &.mm-opening.mm-front .mm-fixed-top
      top: 0
    &.mm-front .mm-fixed-bottom, &.mm-opening.mm-front .mm-fixed-bottom
      bottom: 0
    &.mm-fullscreen .mm-page
      box-shadow: none !important
  &.mm-accelerated
    &.mm-opened
      .mm-page, #mm-blocker
        -webkit-transform: translate3d(0, 0, 0px)
        -moz-transform: translate3d(0, 0, 0px)
        -ms-transform: translate3d(0, 0, 0px)
        -o-transform: translate3d(0, 0, 0px)
        transform: translate3d(0, 0, 0px)
      .mm-menu
        &.mm-front, &.mm-next
          -webkit-transform: translate3d(0, 0, 0px)
          -moz-transform: translate3d(0, 0, 0px)
          -ms-transform: translate3d(0, 0, 0px)
          -o-transform: translate3d(0, 0, 0px)
          transform: translate3d(0, 0, 0px)
      &.mm-opening
        .mm-page, #mm-blocker
          -webkit-transform: translate3d(0, 0, 1px)
          -moz-transform: translate3d(0, 0, 1px)
          -ms-transform: translate3d(0, 0, 1px)
          -o-transform: translate3d(0, 0, 1px)
          transform: translate3d(0, 0, 1px)
        .mm-menu
          &.mm-front, &.mm-next
            -webkit-transform: translate3d(0, 0, 1px)
            -moz-transform: translate3d(0, 0, 1px)
            -ms-transform: translate3d(0, 0, 1px)
            -o-transform: translate3d(0, 0, 1px)
            transform: translate3d(0, 0, 1px)
    .mm-menu.mm-horizontal .mm-panel
      -webkit-transform: translate3d(0, 0, 0px)
      -moz-transform: translate3d(0, 0, 0px)
      -ms-transform: translate3d(0, 0, 0px)
      -o-transform: translate3d(0, 0, 0px)
      transform: translate3d(0, 0, 0px)
      &.mm-opened
        -webkit-transform: translate3d(0, 0, 1px)
        -moz-transform: translate3d(0, 0, 1px)
        -ms-transform: translate3d(0, 0, 1px)
        -o-transform: translate3d(0, 0, 1px)
        transform: translate3d(0, 0, 1px)
        &.mm-subopened
          -webkit-transform: translate3d(0, 0, 2px)
          -moz-transform: translate3d(0, 0, 2px)
          -ms-transform: translate3d(0, 0, 2px)
          -o-transform: translate3d(0, 0, 2px)
          transform: translate3d(0, 0, 2px)

/* jQuery.mmenu hardware acceleration extension CSS */
/*
 *	The CSS rules in this file should force all transitions for the menu into hardware acceleration.
 *	Unfortunately, this is really buggy in different browsers.
 *	Use with caution and test thoroughly! */

/* jQuery.mmenu position extension CSS */

.mm-menu.mm-top
  width: 100%

html.mm-top.mm-opened
  .mm-page, #mm-blocker
    top: 0%
  &.mm-opening
    .mm-page, #mm-blocker, .mm-fixed-top, .mm-fixed-bottom
      left: 0

.mm-menu.mm-right
  left: auto
  right: 0

html.mm-right.mm-opened
  .mm-page, #mm-blocker, .mm-fixed-top, .mm-fixed-bottom
    left: auto
    right: 0%
  &.mm-opening
    .mm-page, #mm-blocker, .mm-fixed-top, .mm-fixed-bottom
      left: auto

.mm-menu.mm-bottom
  width: 100%
  top: auto
  bottom: 0

html.mm-bottom.mm-opened
  .mm-page, #mm-blocker
    bottom: 0%
    top: auto
  &.mm-opening
    .mm-page, #mm-blocker, .mm-fixed-top, .mm-fixed-bottom
      top: auto
      left: 0

.mm-menu.mm-top
  height: 80%

html.mm-top.mm-opened.mm-opening
  .mm-page, #mm-blocker, .mm-fixed-top
    top: 80%
  .mm-fixed-bottom
    bottom: -80%

@media all and (max-height: 175px)
  .mm-menu.mm-top
    height: 140px
  html.mm-top.mm-opened.mm-opening
    .mm-page, #mm-blocker, .mm-fixed-top
      top: 140px
    .mm-fixed-bottom
      bottom: -140px

@media all and (min-height: 1100px)
  .mm-menu.mm-top
    height: 880px
  html.mm-top.mm-opened.mm-opening
    .mm-page, #mm-blocker, .mm-fixed-top
      top: 880px
    .mm-fixed-bottom
      bottom: -880px

.mm-menu.mm-right
  width: 80%

html.mm-right.mm-opened.mm-opening
  .mm-page, #mm-blocker, .mm-fixed-top, .mm-fixed-bottom
    right: 80%

@media all and (max-width: 175px)
  .mm-menu.mm-right
    width: 140px
  html.mm-right.mm-opened.mm-opening
    .mm-page, #mm-blocker, .mm-fixed-top, .mm-fixed-bottom
      right: 140px

@media all and (min-width: 550px)
  .mm-menu.mm-right
    width: 440px
  html.mm-right.mm-opened.mm-opening
    .mm-page, #mm-blocker, .mm-fixed-top, .mm-fixed-bottom
      right: 440px

.mm-menu.mm-bottom
  height: 80%

html
  &.mm-bottom.mm-opened.mm-opening
    .mm-page, #mm-blocker, .mm-fixed-bottom
      bottom: 80%
    .mm-fixed-top
      top: -80%
  &.mm-front.mm-opened .mm-page
    top: 0 !important
    right: 0 !important
    bottom: 0 !important
    left: 0 !important

@media all and (max-height: 175px)
  .mm-menu.mm-bottom
    height: 140px
  html.mm-bottom.mm-opened.mm-opening
    .mm-page, #mm-blocker, .mm-fixed-bottom
      bottom: 140px
    .mm-fixed-top
      top: -140px

@media all and (min-height: 1100px)
  .mm-menu.mm-bottom
    height: 880px
  html.mm-bottom.mm-opened.mm-opening
    .mm-page, #mm-blocker, .mm-fixed-bottom
      bottom: 880px
    .mm-fixed-top
      top: -880px

/* jQuery.mmenu z-position extension CSS */

.mm-menu
  &.mm-front, &.mm-next
    -webkit-transition: none 0.4s ease
    -moz-transition: none 0.4s ease
    -ms-transition: none 0.4s ease
    -o-transition: none 0.4s ease
    transition: none 0.4s ease
    -webkit-transition-property: top, right, bottom, left, -webkit-transform
    -moz-transition-property: top, right, bottom, left, -moz-transform
    -ms-transition-property: top, right, bottom, left, -o-transform
    -o-transition-property: top, right, bottom, left, -o-transform
    transition-property: top, right, bottom, left, transform

html.mm-front
  .mm-page, #mm-blocker
    z-index: 0

.mm-menu.mm-front
  z-index: 1

html
  &.mm-opened.mm-next .mm-page
    box-shadow: none
  &.mm-opening .mm-menu
    &.mm-front, &.mm-next
      left: 0%

.mm-menu.mm-top
  &.mm-front, &.mm-next
    left: 0

html.mm-opening .mm-menu.mm-top
  &.mm-front, &.mm-next
    left: 0
    top: 0%

.mm-menu.mm-right
  &.mm-front, &.mm-next
    left: auto

html.mm-opening .mm-menu.mm-right
  &.mm-front, &.mm-next
    left: auto
    right: 0%

.mm-menu.mm-bottom
  &.mm-front, &.mm-next
    top: auto
    left: 0

html.mm-opening .mm-menu.mm-bottom
  &.mm-front, &.mm-next
    left: 0
    bottom: 0%

.mm-menu
  &.mm-front, &.mm-next
    left: -80%
  &.mm-top
    &.mm-front, &.mm-next
      top: -80%
  &.mm-right
    &.mm-front, &.mm-next
      right: -80%
  &.mm-bottom
    &.mm-front, &.mm-next
      bottom: -80%

@media all and (max-width: 175px)
  .mm-menu
    &.mm-front, &.mm-next
      left: -140px

@media all and (min-width: 550px)
  .mm-menu
    &.mm-front, &.mm-next
      left: -440px

@media all and (max-height: 175px)
  .mm-menu.mm-top
    &.mm-front, &.mm-next
      top: -140px

@media all and (min-height: 1100px)
  .mm-menu.mm-top
    &.mm-front, &.mm-next
      top: -880px

@media all and (max-width: 175px)
  .mm-menu.mm-right
    &.mm-front, &.mm-next
      right: -140px

@media all and (min-width: 550px)
  .mm-menu.mm-right
    &.mm-front, &.mm-next
      right: -440px

@media all and (max-height: 175px)
  .mm-menu.mm-bottom
    &.mm-front, &.mm-next
      bottom: -140px

@media all and (min-height: 1100px)
  .mm-menu.mm-bottom
    &.mm-front, &.mm-next
      bottom: -880px

html.mm-opened
  &.mm-front
    .mm-fixed-top, .mm-fixed-bottom
      left: 0
      right: auto
  &.mm-opening.mm-front
    .mm-fixed-top, .mm-fixed-bottom
      left: 0
      right: auto
  &.mm-front .mm-fixed-top, &.mm-opening.mm-front .mm-fixed-top
    top: 0
  &.mm-front .mm-fixed-bottom, &.mm-opening.mm-front .mm-fixed-bottom
    bottom: 0
  &.mm-light .mm-page

/* jQuery.mmenu themes extension CSS */

.mm-ismenu.mm-light
  background: #f3f3f3

.mm-menu.mm-light
  color: rgba(0, 0, 0, 0.6)
  .mm-list > li
    &:after
      border-color: rgba(0, 0, 0, 0.1)
    > a
      &.mm-subclose
        background: rgba(255, 255, 255, 0.6)
        color: rgba(0, 0, 0, 0.3)
      &.mm-subopen:after, &.mm-subclose:before
        border-color: rgba(0, 0, 0, 0.3)
      &.mm-subopen:before
        border-color: rgba(0, 0, 0, 0.1)
    &.mm-selected >
      a:not(.mm-subopen), span
        background: rgba(255, 255, 255, 0.6)
    &.mm-label
      background: rgba(0, 0, 0, 0.03)
  &.mm-vertical .mm-list li.mm-opened >
    a.mm-subopen, ul
      background: rgba(0, 0, 0, 0.03)
  .mm-search input
    background: rgba(0, 0, 0, 0.1)
    color: rgba(0, 0, 0, 0.6)
  li.mm-noresults, em.mm-counter
    color: rgba(0, 0, 0, 0.3)
  .mm-list li.mm-label > div > div
    background: rgba(0, 0, 0, 0.03)
  .mm-header
    border-color: rgba(0, 0, 0, 0.1)
    color: rgba(0, 0, 0, 0.3)
    a:before
      border-color: rgba(0, 0, 0, 0.3)

html.mm-opened.mm-white .mm-page

.mm-ismenu.mm-white
  background: white

.mm-menu.mm-white
  color: rgba(0, 0, 0, 0.6)
  .mm-list > li
    &:after
      border-color: rgba(0, 0, 0, 0.1)
    > a
      &.mm-subclose
        background: rgba(0, 0, 0, 0.08)
        color: rgba(0, 0, 0, 0.3)
      &.mm-subopen:after, &.mm-subclose:before
        border-color: rgba(0, 0, 0, 0.3)
      &.mm-subopen:before
        border-color: rgba(0, 0, 0, 0.1)
    &.mm-selected >
      a:not(.mm-subopen), span
        background: rgba(0, 0, 0, 0.08)
    &.mm-label
      background: rgba(0, 0, 0, 0.03)
  &.mm-vertical .mm-list li.mm-opened >
    a.mm-subopen, ul
      background: rgba(0, 0, 0, 0.03)
  .mm-search input
    background: rgba(0, 0, 0, 0.1)
    color: rgba(0, 0, 0, 0.6)
  li.mm-noresults, em.mm-counter
    color: rgba(0, 0, 0, 0.3)
  .mm-list li.mm-label > div > div
    background: rgba(0, 0, 0, 0.03)
  .mm-header
    border-color: rgba(0, 0, 0, 0.1)
    color: rgba(0, 0, 0, 0.3)
    a:before
      border-color: rgba(0, 0, 0, 0.3)

html.mm-opened.mm-black .mm-page
  box-shadow: none

.mm-ismenu.mm-black
  background: black

.mm-menu.mm-black
  color: rgba(255, 255, 255, 0.6)
  .mm-list > li
    &:after
      border-color: rgba(255, 255, 255, 0.2)
    > a
      &.mm-subclose
        background: rgba(255, 255, 255, 0.25)
        color: rgba(255, 255, 255, 0.3)
      &.mm-subopen:after, &.mm-subclose:before
        border-color: rgba(255, 255, 255, 0.3)
      &.mm-subopen:before
        border-color: rgba(255, 255, 255, 0.2)
    &.mm-selected >
      a:not(.mm-subopen), span
        background: rgba(255, 255, 255, 0.25)
    &.mm-label
      background: rgba(255, 255, 255, 0.15)
  &.mm-vertical .mm-list li.mm-opened >
    a.mm-subopen, ul
      background: rgba(255, 255, 255, 0.15)
  .mm-search input
    background: rgba(255, 255, 255, 0.3)
    color: rgba(255, 255, 255, 0.6)
  li.mm-noresults, em.mm-counter
    color: rgba(255, 255, 255, 0.3)
  .mm-list li.mm-label > div > div
    background: rgba(255, 255, 255, 0.15)
  .mm-header
    border-color: rgba(255, 255, 255, 0.2)
    color: rgba(255, 255, 255, 0.3)
    a:before
      border-color: rgba(255, 255, 255, 0.3)