/* start slider
@font-face 
  font-family: 'Aller Light'
  src: url(../project/aller.light.ttf) format(OpenType)
.slider
  background: #2e2e2e
  padding-bottom: 8%

.ei-slider
  font-family: 'Aller Light'
  position: relative
  width: 100%
  max-width: 1920px
  height: 450px
  margin: 0 auto

.ei-slider-large
  height: 100%
  width: 100%
  position: relative
  overflow: hidden
  li
    position: absolute
    top: 0px
    left: 0px
    overflow: hidden
    height: 100%
    width: 100%
    img
      margin-left: 0.5px !important
      margin-right: 0.5px

.ei-title
  position: absolute
  right: 15%
  top: 10%

.btn
  background: #57C5A0
  color: white
  padding: 25px 12px 10px
  display: inline-block
  line-height: 2px

.ei_icons
  padding: 10px 10px 5px
  background: white
  line-height: 2px
.ei-title
  h2
    font-family: 'Aller Light'
    padding: 0 0 0
    font-size: 40px
    line-height: 30px
    color: #242424
    text-transform: capitalize
  h3
    font-family: 'Aller Light'
    padding-top: 1px
    font-size: 30px
    line-height: 30px
    color: #333232
    &.active
      color: #000000

.ei-slider-thumbs
  height: 10px
  margin: 0 auto
  position: relative
  align-items: center
  li
    float: left
    height: 100%
    &.ei-slider-element
      top: 0px
      left: 0px
      position: absolute
      width: 100%
      height: 90%
      text-indent: -9000px
      background: #5B6A7F
      background: #57C5A0
    a
      text-align: center
      display: block
      background: #000000
      width: 100%
      height: 90%
      &:hover
        background-color: rgb(42, 42, 43)
      span
        &.active
          color: #ffffff
        padding-top: 10px
        font-size: 20px
        display: inline-block
        color: #999999
        text-transform: capitalize
      p
        text-transform: capitalize
        font-size: 10px
        color: #999999
        line-height: 20px

@media only screen and (max-width: 1600px)
  .wrap
    width: 95%
  .btn
    width: 130px
    height: 50px
    padding: 10px
    margin: 0
    text-align: center


@media only screen and (max-width: 960px)
  .wrap
    width: 95%
  .ei-title
    right: 5%
    top: 10%
  .slider
    padding-bottom: 20%
  .image1_of_3 span
    top: -50px

@media only screen and (max-width: 320px)
  .wrap
    width: 95%
  .ei-title
    right: 0%
    top: 10%
    h3
      padding-top: 5px
      font-size: 20px
    h2
      padding-top: 5px
      font-size: 30px 
  .slider
    padding-bottom: 20%
  .image1_of_3 span
    top: -100px
  .slider
    padding-bottom: 40%
  .image1_of_3
    float: none
    width: 100%
    margin-left: 0
    text-align: right