/* reset */
/* line 3, ../sass/index.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 12, ../sass/index.sass */
nav ul, nav li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../sass/index.sass */
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 28, ../sass/index.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/index.sass */
ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 36, ../sass/index.sass */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/index.sass */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 45, ../sass/index.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 49, ../sass/index.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* start editing from here */
/* line 55, ../sass/index.sass */
a {
  text-decoration: none;
}

/* line 58, ../sass/index.sass */
.txt-rt {
  text-align: right;
}

/* text align right */
/* line 63, ../sass/index.sass */
.txt-lt {
  text-align: left;
}

/* text align left */
/* line 68, ../sass/index.sass */
.txt-center {
  text-align: center;
}

/* text align center */
/* line 73, ../sass/index.sass */
.float-rt {
  float: right;
}

/* float right */
/* line 78, ../sass/index.sass */
.float-lt {
  float: left;
}

/* float left */
/* line 83, ../sass/index.sass */
.clear {
  clear: both;
}

/* clear float */
/* line 88, ../sass/index.sass */
.pos-relative {
  position: relative;
}

/* Position Relative */
/* line 93, ../sass/index.sass */
.pos-absolute {
  position: absolute;
}

/* Position Absolute */
/* line 98, ../sass/index.sass */
.vertical-base {
  vertical-align: baseline;
}

/* vertical align baseline */
/* line 103, ../sass/index.sass */
.vertical-top {
  vertical-align: top;
}

/* vertical align top */
/* line 108, ../sass/index.sass */
.underline {
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
  margin: 0 0 20px 0;
}

/* Add 5px bottom padding and a underline */
/* line 116, ../sass/index.sass */
nav.vertical ul li {
  display: block;
}
/* line 118, ../sass/index.sass */
nav.horizontal ul li {
  display: inline-block;
}

/* line 122, ../sass/index.sass */
img {
  max-width: 100%;
}

/*end reset */
@font-face {
  font-family: "Aller Light";
  src: url(../project/aller.light.ttf) format(OpenType);
}
/* line 133, ../sass/index.sass */
body {
  font-family: "Aller Light";
  background: #ffffff;
  font-size: 100%;
}

/* line 138, ../sass/index.sass */
.wrap {
  margin: 0 auto;
  width: 80%;
}

/* start header */
/* line 144, ../sass/index.sass */
.top_bg {
  background: #242424;
}

/* line 147, ../sass/index.sass */
.header {
  padding: 0 4%;
}

/* line 150, ../sass/index.sass */
.logo {
  float: left;
  margin: 14px 0;
}

/* LOGIN or REGISTRATION */
/* line 156, ../sass/index.sass */
.log_reg {
  border-right: 1px solid #3c3c3c;
  padding: 12px 16px;
  float: right;
}
/* line 160, ../sass/index.sass */
.log_reg ul li {
  display: inline-block;
}
/* line 162, ../sass/index.sass */
.log_reg li a {
  font-family: "Aller Light";
  font-size: 0.8125em;
  display: block;
  padding: 5px 8px;
  color: #777777;
  -webkit-text-stroke: 0.5px;
}
/* line 170, ../sass/index.sass */
.log_reg span.log {
  font-size: 0.8125em;
  color: #777777;
  text-transform: lowercase;
  -webkit-text-stroke: 0.5px;
}

/* line 176, ../sass/index.sass */
h2.style {
  font-family: "Aller Light";
  font-size: 1.8em;
  color: #5e5e5e;
  text-transform: capitalize;
}

/* line 182, ../sass/index.sass */
h4.style {
  font-family: "Aller Light";
  font-size: 1.5em;
  color: #5e5e5e;
  text-transform: capitalize;
  border: 1px solid #3D3D3D;
  padding: 1% 2%;
}

/* line 190, ../sass/index.sass */
.login_left {
  float: left;
  width: 44.33333%;
  margin-left: 3.3333%;
  background: #ffffff;
  padding: 2%;
  min-height: 350px;
}
/* line 197, ../sass/index.sass */
.login_left:first-child {
  margin-left: 0;
}
/* line 199, ../sass/index.sass */
.login_left h3 {
  font-family: "Aller Light";
  font-size: 1.2em;
  color: #57C5A0;
  text-transform: uppercase;
  text-shadow: 0 1px 0 white;
  border-bottom: 1px solid #E9E9E9;
  padding-bottom: 10px;
}
/* line 207, ../sass/index.sass */
.login_left p {
  font-family: "Aller Light";
  font-size: 0.8725em;
  line-height: 1.5em;
  color: #555555;
  margin: 4% 0;
}

/* line 214, ../sass/index.sass */
.btn form input[type="button"], .registration_form input[type="submit"] {
  font-family: "Aller Light";
  cursor: pointer;
  background: #242424;
  border: 1px solid #242424;
  padding: 10px 20px;
  outline: none;
  color: #ffffff;
  font-size: 1em;
  text-transform: capitalize;
  -webkit-appearance: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}

/* line 234, ../sass/index.sass */
.btn form input[type="button"]:hover, .registration_form input[type="submit"]:hover {
  background: #57C5A0;
  border: 1px solid #57c5a0;
}

/*SEARCH BAR */
/* line 240, ../sass/index.sass */
.web_search {
  position: relative;
  float: right;
  width: 28%;
  border-right: 1px solid #3c3c3c;
  padding: 6px 10px;
}
/* line 246, ../sass/index.sass */
.web_search form {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 251, ../sass/index.sass */
.web_search form:active, .web_search form:hover {
  background: none;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -ms-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 261, ../sass/index.sass */
.web_search input[type="text"] {
  font-family: "Aller Light";
  padding: 8px 20px;
  outline: none;
  border: none;
  width: 76%;
  background: none;
  font-size: 1em;
  color: #6d6d6d;
}
/* line 270, ../sass/index.sass */
.web_search:hover input[type="submit"] {
  background: url(../Pictures/search.png) no-repeat 0px 4px;
}
/* line 272, ../sass/index.sass */
.web_search input[type="submit"] {
  background: url(../Pictures/search.png) no-repeat 0px 4px;
  border: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
/* line 278, ../sass/index.sass */
.web_search input[type="submit"]:hover {
  background: url(../Pictures/search.png) no-repeat 0px 4px;
}

/* BANNER */
/* line 283, ../sass/index.sass */
.container1 {
  width: 100%;
  position: relative;
}

/* line 286, ../sass/index.sass */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 300px;
  padding-bottom: 100px;
}
/* line 293, ../sass/index.sass */
.centered h2 {
  font-size: 40px;
}
/* line 295, ../sass/index.sass */
.centered h3 {
  font-size: 20px;
}

/* line 299, ../sass/index.sass */
.btn {
  width: 100px;
  padding: 10px;
  border: 1px #57C5A0;
  margin: 0;
  background-color: #57C5A0;
  color: #f9f7f7;
}

/* line 308, ../sass/index.sass */
.text {
  position: absolute;
  right: 15%;
  top: 30%;
}
/* line 312, ../sass/index.sass */
.text h2 {
  font-family: "Aller Light";
  padding: 20px 0 0;
  font-size: 40px;
  line-height: 30px;
  color: #242424;
  text-transform: capitalize;
}
/* line 319, ../sass/index.sass */
.text h3 {
  font-family: "Aller Light";
  padding-top: 15px;
  font-size: 30px;
  line-height: 30px;
  color: #333232;
}
/* line 325, ../sass/index.sass */
.text h3.active {
  color: black;
}

/* Shop by section */
/* line 330, ../sass/index.sass */
.custom-select {
  background: #141414;
  font-family: "Aller Light";
  font-size: 25px;
  color: #9B9B9B;
  border: none;
  width: 250px;
  height: 50px;
}

/* line 339, ../sass/index.sass */
.row1 {
  padding-top: 10px;
  padding-bottom: 20px;
}
/* line 342, ../sass/index.sass */
.row1:after {
  content: "";
  clear: both;
  display: block;
  text-align: center;
}

/* line 348, ../sass/index.sass */
.column1 {
  float: left;
  padding: 10px 20px 10px 20px;
  width: 20px;
  margin-left: 200px;
  background: none;
  position: relative;
}

/* grid/list view */
/* Create 3 equal columns that floats next to each other */
/* line 359, ../sass/index.sass */
.column {
  float: left;
  padding: 10px 10px 10px 10px;
  width: 30.33%;
  margin-left: 4%;
  background: #ffffff;
  position: relative;
}
/* line 366, ../sass/index.sass */
.column:first-child {
  margin-left: 0;
}
/* line 368, ../sass/index.sass */
.column a {
  display: block;
}
/* line 370, ../sass/index.sass */
.column a:hover h3 {
  color: #57C5A0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 376, ../sass/index.sass */
.column img {
  padding: 5% 0;
}
/* line 378, ../sass/index.sass */
.column h3 {
  border-top: 1px solid #EBEBEB;
  padding: 10px;
  font-size: 1.2em;
  color: #000000;
  -webkit-text-stroke: 0.2px;
  text-shadow: 0 1px 0 #ffffff;
  text-transform: capitalize;
  padding-left: 150px;
}

/* line 388, ../sass/index.sass */
.row {
  padding-top: 10px;
  padding-bottom: 20px;
}
/* line 391, ../sass/index.sass */
.row:after {
  content: "";
  clear: both;
  display: block;
  text-align: center;
}

/* Clear floats after the columns */
/* Style the buttons */
/* line 401, ../sass/index.sass */
.grid {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}
/* line 407, ../sass/index.sass */
.grid:hover {
  background-color: #ddd;
}
/* line 409, ../sass/index.sass */
.grid:focus {
  background-color: #666;
  color: white;
}

/* line 413, ../sass/index.sass */
.price {
  font-family: "Aller Light";
  background: #57C5A0;
  color: #F8F8FF;
  font-size: 0.8725em;
  padding: 25px 12px;
  position: absolute;
  bottom: 0px;
  left: 10px;
}

/* line 423, ../sass/index.sass */
.price1 {
  font-family: "Aller Light";
  font-size: 0.8725em;
  color: #F8F8FF;
  padding: 25px 15px;
  position: absolute;
  top: 0px;
  right: 10px;
  text-transform: uppercase;
}
/* line 432, ../sass/index.sass */
.price1.bg {
  background: #242424;
}
/* line 434, ../sass/index.sass */
.price1.bg1 {
  background: #F27E4B;
  width: 60px;
}

/* start header_btm */
/* line 440, ../sass/index.sass */
.header_btm {
  padding: 0 4%;
}

/* line 443, ../sass/index.sass */
.menu, .nav {
  float: left;
}
/* line 445, ../sass/index.sass */
.menu ul li, .nav ul li {
  float: left;
  border-left: 1px solid #e2e2e2;
}
/* line 448, ../sass/index.sass */
.menu ul li:nth-child(6), .nav ul li:nth-child(6) {
  border-right: 1px solid #e2e2e2;
}
/* line 450, ../sass/index.sass */
.menu ul li a, .nav ul li a {
  font-family: "Aller Light";
  display: block;
  padding: 26px 30px;
  color: #2d2d2d;
  font-size: 1.1em;
  text-transform: capitalize;
  -webkit-text-stroke: 0.2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 463, ../sass/index.sass */
.menu ul li.active a, .menu ul li a:hover, .nav ul li.active a, .nav ul li a:hover {
  color: #57C5A0;
}

/* line 465, ../sass/index.sass */
.hamburger {
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 45px;
  padding: 110px 15px 0px 15px;
  color: #999;
  border: 0;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}

/* line 480, ../sass/index.sass */
.cross {
  background: none;
  position: absolute;
  top: 0px;
  left: 0;
  padding: 115px 15px 0px 15px;
  color: #999;
  border: 0;
  font-size: 1.5em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}

/* line 495, ../sass/index.sass */
.menu1 {
  z-index: 1000000;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: #f1f1f1;
  position: absolute;
  text-align: center;
  font-size: 12px;
}
/* line 504, ../sass/index.sass */
.menu1 ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
/* line 509, ../sass/index.sass */
.menu1 li {
  display: block;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid;
}
/* line 513, ../sass/index.sass */
.menu1 li:hover {
  display: block;
  background: #ffffff;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid;
}
/* line 518, ../sass/index.sass */
.menu1 ul li a {
  text-decoration: none;
  margin: 0px;
  color: #666;
}
/* line 522, ../sass/index.sass */
.menu1 ul li a:hover {
  color: #666;
  text-decoration: none;
}
/* line 525, ../sass/index.sass */
.menu1 a {
  text-decoration: none;
  color: #666;
}
/* line 528, ../sass/index.sass */
.menu1 a:hover {
  text-decoration: none;
  color: #666;
}

/* line 532, ../sass/index.sass */
.glyphicon-home {
  color: white;
  font-size: 1.5em;
  margin-top: 5px;
  margin: 0 auto;
}

/* start header_right */
/* line 540, ../sass/index.sass */
.header_right {
  float: right;
}
/* line 542, ../sass/index.sass */
.header_right ul li {
  display: inline-block;
}
/* line 544, ../sass/index.sass */
.header_right ul li a {
  font-family: "Aller Light";
  display: block;
  line-height: 1.8em;
  font-size: 1em;
  color: #ffffff;
  padding: 20px 26px;
  border-left: 1px solid #e2e2e2;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 556, ../sass/index.sass */
.header_right ul li a:hover {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.7;
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -ms-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}
/* line 565, ../sass/index.sass */
.header_right ul li:nth-child(2) a {
  border-right: 1px solid #e2e2e2;
}
/* line 568, ../sass/index.sass */
.header_right ul li a span {
  background: #57C5A0;
  padding: 5px 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}
/* line 575, ../sass/index.sass */
.header_right ul li a span.color1 {
  background: #999999;
}
/* line 577, ../sass/index.sass */
.header_right ul li a > i {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  transition: none;
}
/* line 583, ../sass/index.sass */
.header_right ul li a > i.art {
  background: url(../Pictures/wishlist.png) no-repeat 4px 8px;
}
/* line 585, ../sass/index.sass */
.header_right ul li a > i.cart {
  background: url(../Pictures/cart.png) no-repeat 5px 8px;
}

/*-- start image1_of_3 -- */
/* line 590, ../sass/index.sass */
.main1 {
  padding: 4% 4% 2%;
}

/* line 593, ../sass/index.sass */
.image1_of_3 {
  float: left;
  width: 30.99999%;
  margin-left: 3.3333%;
  text-align: center;
}
/* line 598, ../sass/index.sass */
.image1_of_3:first-child {
  margin-left: 0;
}
/* line 600, ../sass/index.sass */
.image1_of_3 img {
  width: 100%;
}
/* line 602, ../sass/index.sass */
.image1_of_3 span {
  position: relative;
  top: -120px;
}
/* line 605, ../sass/index.sass */
.image1_of_3 span.tag {
  font-family: "Aller Light";
  padding: 15px 30px;
  background: rgba(36, 36, 36, 0.85);
  color: #ffffff;
  font-size: 1.5em;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 616, ../sass/index.sass */
.image1_of_3 span.tag:hover {
  background: rgba(0, 0, 0, 0.61);
}

/* start main */
/* line 621, ../sass/index.sass */
.main_bg {
  background: #EBE7DF;
}

/* line 624, ../sass/index.sass */
.main_top {
  padding: 2% 4%;
}

/* line 627, ../sass/index.sass */
.main {
  padding: 4%;
}

/* line 630, ../sass/index.sass */
.top_main {
  margin: 3% 0;
}
/* line 632, ../sass/index.sass */
.top_main:first-child {
  margin-top: 0;
}
/* line 634, ../sass/index.sass */
.top_main h2 {
  font-family: "Aller Light";
  float: left;
  text-transform: capitalize;
  color: #242424;
  font-size: 1.5em;
  text-shadow: 0 1px 0 #ffffff;
  line-height: 1.8em;
}
/* line 642, ../sass/index.sass */
.top_main a {
  font-family: "Aller Light";
  font-size: 1em;
  float: right;
  text-transform: capitalize;
  padding: 8px 20px;
  color: #BCB4A7;
  border: 1px solid #BCB4A7;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 654, ../sass/index.sass */
.top_main a:hover {
  background: #BCB4A7;
  color: #fff;
}

/* overlay effect */
/* line 660, ../sass/index.sass */
* {
  box-sizing: border-box;
}

/* line 663, ../sass/index.sass */
.container {
  position: relative;
  width: 100%;
  max-width: 300px;
}

/* line 668, ../sass/index.sass */
.overlay {
  position: absolute;
  bottom: 0;
  background: white;
  color: #f1f1f1;
  width: 100%;
  height: 50px;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* line 682, ../sass/index.sass */
.container:hover .overlay {
  opacity: 1;
}

/* line 685, ../sass/index.sass */
.icn {
  background: none;
  border: none;
  display: inline;
}

/* start grids_of_3 */
/* line 692, ../sass/index.sass */
.grids_of_3 {
  text-align: center;
  display: inline-block;
}

/* line 696, ../sass/index.sass */
.grid1_of_3 {
  float: left;
  width: 30.3333%;
  margin-left: 4.3333%;
  background: #ffffff;
  position: relative;
}
/* line 702, ../sass/index.sass */
.grid1_of_3:first-child {
  margin-left: 0;
}
/* line 704, ../sass/index.sass */
.grid1_of_3 a {
  display: block;
}
/* line 706, ../sass/index.sass */
.grid1_of_3 a:hover h3 {
  color: #57C5A0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 712, ../sass/index.sass */
.grid1_of_3 img {
  padding: 8% 0;
}
/* line 714, ../sass/index.sass */
.grid1_of_3 h3 {
  font-family: "Aller Light";
  border-top: 1px solid #EBEBEB;
  padding: 15px;
  padding-left: 50px;
  font-size: 1.2em;
  color: #000000;
  -webkit-text-stroke: 0.2px;
  text-shadow: 0 1px 0 #ffffff;
  text-transform: capitalize;
}

/* line 725, ../sass/index.sass */
.price {
  font-family: "Aller Light";
  background: #57C5A0;
  color: #ffffff;
  font-size: 0.8725em;
  padding: 25px 12px;
  position: absolute;
  bottom: 0px;
  left: 10px;
}

/* line 735, ../sass/index.sass */
.price1 {
  font-family: "Aller Light";
  font-size: 0.8725em;
  color: #ffffff;
  padding: 25px 15px;
  position: absolute;
  top: 0px;
  right: 10px;
  text-transform: uppercase;
}
/* line 744, ../sass/index.sass */
.price1.bg {
  background: #242424;
}
/* line 746, ../sass/index.sass */
.price1.bg1 {
  background: #F27E4B;
  width: 60px;
}

/* start grids_of_2 */
/* line 752, ../sass/index.sass */
.grids_of_3 {
  display: block;
  margin: 4% 0;
}

/* line 756, ../sass/index.sass */
.grid1_of_2 {
  float: left;
  width: 45.77777%;
  margin-left: 4.3333%;
}
/* line 760, ../sass/index.sass */
.grid1_of_2:first-child {
  margin-left: 0;
}
/* line 762, ../sass/index.sass */
.grid1_of_2.bg {
  background: #DFDBD4;
  padding: 2%;
}

/* line 766, ../sass/index.sass */
.span1_of_2 {
  float: left;
  width: 38.77777%;
  margin-left: 6.3333%;
  background: #DFDBD4;
  padding: 4%;
}
/* line 772, ../sass/index.sass */
.span1_of_2:first-child {
  margin-left: 0;
}

/* line 776, ../sass/index.sass */
.grid1_of_2 h2 {
  font-family: "Aller Light";
  font-size: 1.2em;
  color: #141414;
  text-transform: uppercase;
  -webkit-text-stroke: 0.4px;
  text-shadow: 0 1px 0 #ffffff;
  margin-bottom: 4%;
}
/* line 784, ../sass/index.sass */
.grid1_of_2 p {
  font-family: "Aller Light";
  font-size: 0.8725em;
  line-height: 1.5em;
  color: #141414;
  -webkit-text-stroke: 0.4px;
  text-shadow: 0 1px 0 #ffffff;
}

/* start date */
/* line 794, ../sass/index.sass */
.grid_date {
  margin-top: 4%;
}
/* line 796, ../sass/index.sass */
.grid_date:first-child {
  margin-top: 0;
}

/* line 799, ../sass/index.sass */
.date1 {
  float: left;
  width: 12.3333%;
}

/* line 803, ../sass/index.sass */
.date_text {
  float: left;
  width: 84.3333%;
  margin-left: 3.3333%;
}

/* line 808, ../sass/index.sass */
.date1 h4 {
  font-family: "Aller Light";
  font-size: 0.8925em;
  margin-top: 4px;
  background: #57C5A0;
  padding: 15px;
  text-transform: uppercase;
  color: #ffffff;
}

/* line 817, ../sass/index.sass */
.date_text h4 a {
  font-family: "Aller Light";
  display: block;
  font-size: 1em;
  color: #141414;
  -webkit-text-stroke: 0.4px;
  text-shadow: 0 1px 0 #ffffff;
  margin-bottom: 2%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 829, ../sass/index.sass */
.date_text h4 a:hover {
  color: #57C5A0;
}

/* start footer_top */
/* line 834, ../sass/index.sass */
.footer_top {
  background: #242424;
}

/* line 837, ../sass/index.sass */
.footer {
  padding: 4%;
}

/* start grids_of_3 */
/* line 842, ../sass/index.sass */
.span_of_3 {
  display: block;
}

/* line 845, ../sass/index.sass */
.span1_of_3 {
  float: left;
  width: 30.9999%;
  margin-left: 3.3333%;
}
/* line 849, ../sass/index.sass */
.span1_of_3:first-child {
  margin-left: 0;
}
/* line 851, ../sass/index.sass */
.span1_of_3 h3 {
  font-family: "Aller Light";
  font-size: 1.2em;
  color: #5e5e5e;
  text-transform: uppercase;
  -webkit-text-stroke: 0.5px;
  margin-bottom: 6%;
}
/* line 858, ../sass/index.sass */
.span1_of_3 p {
  font-family: "Aller Light";
  font-size: 0.8725em;
  color: #9B9B9B;
  line-height: 1.8em;
  -webkit-text-stroke: 0.5px;
  font-style: italic;
}
/* line 865, ../sass/index.sass */
.span1_of_3 p.top {
  margin-top: 2%;
}
/* line 867, ../sass/index.sass */
.span1_of_3 p a {
  color: #57C5A0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 873, ../sass/index.sass */
.span1_of_3 p a:hover {
  color: #9B9B9B;
}

/* line 876, ../sass/index.sass */
.f_nav li {
  float: left;
  width: 29.3333%;
  margin: 0 14px 10px 0;
}
/* line 880, ../sass/index.sass */
.f_nav li a {
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 886, ../sass/index.sass */
.f_nav li a img {
  width: 100%;
}
/* line 888, ../sass/index.sass */
.f_nav li a:hover {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.7;
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -ms-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}

/* start footer_top */
/* line 900, ../sass/index.sass */
.footer_mid {
  border-top: 1px solid #141414;
  background: #242424;
}

/* start f_search */
/* line 906, ../sass/index.sass */
.f_search {
  float: left;
  position: relative;
  width: 24.3333%;
}
/* line 911, ../sass/index.sass */
.f_search form input[type="text"] {
  font-family: "Aller Light";
  font-style: italic;
  -webkit-text-stroke: 0.5px;
  font-size: 0.8725em;
  line-height: 24px;
  width: 77.3333%;
  padding: 10px;
  background: #2e2e2e;
  color: #9B9B9B;
  border: none;
  outline: none;
  -webkit-appearance: none;
}
/* line 924, ../sass/index.sass */
.f_search form input[type="submit"] {
  cursor: pointer;
  line-height: 24px;
  position: absolute;
  right: 0;
  background: #3d3d3d url("../Pictures/search.png") no-repeat 16px 15px;
  padding: 10px;
  width: 16.33333%;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 939, ../sass/index.sass */
.f_search form input[type="submit"]:hover {
  background: #5d5d5d url("../Pictures/search.png") no-repeat 16px 15px;
}

/* start soc_icons */
/* line 944, ../sass/index.sass */
.soc_icons {
  float: right;
  margin-right: 2%;
}
/* line 947, ../sass/index.sass */
.soc_icons ul li {
  float: left;
  margin-left: 10px;
}
/* line 950, ../sass/index.sass */
.soc_icons ul li a {
  display: block;
  padding: 10px;
  background: #2e2e2e no-repeat 20px 20px;
  width: 35px;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 960, ../sass/index.sass */
.soc_icons ul li a:hover {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.7;
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -ms-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}

/* start footer_bg */
/* line 972, ../sass/index.sass */
.footer_bg {
  background: #2e2e2e;
}

/* line 975, ../sass/index.sass */
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 32px;
  height: 32px;
  border: none;
  text-indent: 100%;
  background: url(../Pictures/top-move.jpg) no-repeat right top;
}

/* line 988, ../sass/index.sass */
.f_nav1 {
  float: right;
}
/* line 990, ../sass/index.sass */
.f_nav1 li {
  float: left;
  margin-right: 10px;
}
/* line 993, ../sass/index.sass */
.f_nav1 li a {
  font-family: "Aller Light";
  display: block;
  color: #7D7D7D;
  text-transform: capitalize;
  font-size: 0.8725em;
  -webkit-text-stroke: 0.5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 1004, ../sass/index.sass */
.f_nav1 li a:hover {
  color: #57C5A0;
}

/* line 1007, ../sass/index.sass */
.copy {
  float: left;
}
/* line 1009, ../sass/index.sass */
.copy p {
  font-family: "Aller Light";
  color: #7D7D7D;
  font-size: 0.8725em;
  line-height: 1.8em;
  -webkit-text-stroke: 0.5px;
}
/* line 1015, ../sass/index.sass */
.copy p a {
  color: #57C5A0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 1021, ../sass/index.sass */
.copy p a:hover {
  color: #7D7D7D;
}

/* start about */
/* line 1026, ../sass/index.sass */
.about {
  display: block;
}

/* line 1029, ../sass/index.sass */
.cont-grid {
  float: left;
  width: 62.3333%;
}

/* line 1033, ../sass/index.sass */
.cont-grid-img {
  margin-right: 3.3333%;
  width: 34.33333%;
  float: left;
}
/* line 1037, ../sass/index.sass */
.cont-grid-img img {
  margin-top: 10px;
}

/* line 1040, ../sass/index.sass */
.cont-grid h4 {
  font-family: "Aller Light";
  line-height: 1.5em;
  font-size: 1.5em;
  text-transform: capitalize;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
}

/* line 1048, ../sass/index.sass */
p.para {
  color: #555555;
  text-shadow: 0 1px 0 #ffffff;
  line-height: 1.5em;
  font-size: 0.8725em;
}

/* line 1054, ../sass/index.sass */
.cont-grid p, .about-p {
  margin-top: 2%;
}

/* line 1057, ../sass/index.sass */
.read_more {
  margin-top: 2%;
}
/* line 1059, ../sass/index.sass */
.read_more a {
  display: inline-block;
  font-family: "Aller Light";
  background: #242424;
  border: 1px solid #242424;
  padding: 10px 20px;
  outline: none;
  color: #ffffff;
  font-size: 1em;
  text-transform: capitalize;
  -webkit-appearance: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
/* line 1078, ../sass/index.sass */
.read_more a:hover {
  background: #57C5A0;
  border: 1px solid #57c5a0;
}

/* start blog */
/* line 1083, ../sass/index.sass */
.project {
  display: block;
}

/* line 1086, ../sass/index.sass */
.project-top {
  padding: 2% 0;
}

/*  GRID OF Content and sidebar */
/* line 1091, ../sass/index.sass */
.cont {
  display: block;
  float: left;
}

/* line 1095, ../sass/index.sass */
.rsidebar {
  display: block;
  float: left;
  margin: 0% 0 0% 4.6%;
}

/* line 1100, ../sass/index.sass */
.span_2_of_3 {
  width: 62.1%;
}

/* line 1103, ../sass/index.sass */
.project-img img {
  margin-bottom: 20px;
}

/* line 1106, ../sass/index.sass */
.span_1_of_3 {
  width: 33.2%;
}

/* line 1109, ../sass/index.sass */
.span_2_of_3 h3 {
  margin-bottom: 2%;
}
/* line 1111, ../sass/index.sass */
.span_2_of_3 h3 a {
  font-family: "Aller Light";
  line-height: 1.5em;
  font-size: 1.5em;
  text-transform: capitalize;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
  letter-spacing: -1px;
}

/* line 1120, ../sass/index.sass */
ul.sidebar h3 {
  font-family: "Aller Light";
  margin-bottom: 4%;
  line-height: 1.5em;
  font-size: 1.5em;
  text-transform: capitalize;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
  letter-spacing: -1px;
}

/* line 1130, ../sass/index.sass */
.span_2_of_3 p {
  margin-top: 4%;
}
/* line 1131, ../sass/index.sass */
.span_2_of_3 p:first-child {
  margin-top: 0;
}

/* line 1134, ../sass/index.sass */
span.black a {
  color: #18188A;
  cursor: pointer;
}
/* line 1137, ../sass/index.sass */
span.black a:hover {
  color: #000;
}

/* line 1140, ../sass/index.sass */
p.submitted {
  margin: 5px 0 15px;
  float: left;
  padding: 0 0 0 20px;
}
/* line 1144, ../sass/index.sass */
p.submitted span a {
  color: #000;
}
/* line 1146, ../sass/index.sass */
p.submitted span a:hover {
  color: #555;
}

/* line 1149, ../sass/index.sass */
.post-author {
  margin-bottom: 2em;
  padding: 20px 20px 0px;
  border: 1px solid #DDD;
}

/* line 1154, ../sass/index.sass */
.post-author_h a {
  color: #645035;
}
/* line 1156, ../sass/index.sass */
.post-author_h a:hover {
  color: #555;
}

/* line 1159, ../sass/index.sass */
.post-author_gravatar {
  float: left;
  margin: 0 20px 0 0;
}

/* line 1163, ../sass/index.sass */
.post-author_desc {
  float: left;
  width: 83.5%;
}

/* line 1167, ../sass/index.sass */
.post-author_link p a {
  color: #000;
}
/* line 1169, ../sass/index.sass */
.post-author_link p a:hover {
  color: #555;
}

/* line 1172, ../sass/index.sass */
.post-author_gravatar img {
  margin-bottom: 0;
  box-shadow: none;
}

/* line 1176, ../sass/index.sass */
#comment-6 {
  border: 1px solid #ddd;
  background: #f7f7f7;
  padding: 20px;
}

/* line 1181, ../sass/index.sass */
.comment-author {
  float: left;
  margin: 0 20px 0 0;
}

/* line 1185, ../sass/index.sass */
.wrapper {
  position: relative;
  width: 100%;
}

/* line 1190, ../sass/index.sass */
.comment-author .author {
  font-family: "Aller Light";
  display: block;
  padding-top: 6px;
  width: 65px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: #555;
}
/* line 1200, ../sass/index.sass */
.comment-author img {
  margin-bottom: 0;
  box-shadow: none;
  border: none;
}

/* line 1205, ../sass/index.sass */
.reply {
  font-family: "Aller Light";
  float: right;
  margin-left: 28px;
  font-size: 0.85em;
  color: #000;
}
/* line 1211, ../sass/index.sass */
.reply a {
  color: #000;
}
/* line 1213, ../sass/index.sass */
.reply a:hover {
  color: #555;
}

/* line 1216, ../sass/index.sass */
.comment-meta {
  font-family: "Aller Light";
  float: right;
  color: #999;
  font-size: 0.85em;
}

/* line 1222, ../sass/index.sass */
.extra-wrap {
  float: left;
}

/* line 1225, ../sass/index.sass */
#comment-7 {
  border: 1px solid #ddd;
  background: #f5f5f5;
  padding: 20px;
  margin: 20px 0px 20px 20px;
}

/* line 1231, ../sass/index.sass */
.comment-form {
  padding: 30px 0 0;
}
/* line 1233, ../sass/index.sass */
.comment-form input[type="text"] {
  padding: 10px 10px;
  width: 47.4%;
  font-family: "Aller Light";
  margin: 10px 0;
  border: 1px solid #E1E2E2;
  color: #999;
  background: #FFF;
  float: left;
  outline: none;
  font-size: 0.85em;
}
/* line 1244, ../sass/index.sass */
.comment-form textarea {
  height: 100px;
  padding: 10px 10px;
  width: 97.4%;
  font-family: "Aller Light";
  margin: 10px 0;
  border: 1px solid #E1E2E2;
  color: #999;
  background: #FFF;
  float: left;
  outline: none;
  font-size: 0.85em;
}
/* line 1256, ../sass/index.sass */
.comment-form input[type="submit"] {
  color: #FFF;
  font-size: 0.85em;
  font-weight: normal;
  padding: 12px 20px;
  border: none;
  background: #5A462A;
  font-family: "Aller Light";
  outline: none;
  float: right;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 1273, ../sass/index.sass */
.comment-form input[type="submit"]:hover {
  background: #523E23;
}
/* line 1275, ../sass/index.sass */
.comment-form h4 {
  color: #777;
  margin-bottom: 10px;
  font-size: 1.2em;
  line-height: 1.2;
  font-family: "Aller Light";
  font-weight: normal;
  margin-top: 0px;
  letter-spacing: -1px;
  text-transform: uppercase;
}

/* line 1286, ../sass/index.sass */
ul.sidebar li {
  margin: 0 20px 10px;
}
/* line 1289, ../sass/index.sass */
ul.sidebar li a {
  font-family: "Aller Light";
  vertical-align: middle;
  font-size: 0.87255em;
  color: #555555;
  line-height: 1.5em;
  text-shadow: 0 1px 0 #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 1300, ../sass/index.sass */
ul.sidebar li a:hover {
  color: #39BD91;
}

/* line 1303, ../sass/index.sass */
.archive {
  padding: 20px 0;
}
/* line 1305, ../sass/index.sass */
.archive h3 {
  font-family: "Aller Light";
  margin-bottom: 2%;
  line-height: 1.5em;
  font-size: 1.5em;
  text-transform: capitalize;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
  letter-spacing: -1px;
}

/* line 1315, ../sass/index.sass */
ul.news li {
  margin-bottom: 20px;
}
/* line 1316, ../sass/index.sass */
ul.news li .date {
  font-family: "Aller Light";
  float: left;
  background: #57C5A0;
  margin-right: 20px;
  font-size: 1em;
  color: #FFF;
  padding: 15px;
}
/* line 1325, ../sass/index.sass */
ul.news li .desc {
  float: left;
  width: 79.33333%;
}
/* line 1328, ../sass/index.sass */
ul.news li .desc h4 {
  font-family: "Aller Light";
  text-transform: uppercase;
  margin-bottom: 8px;
}
/* line 1332, ../sass/index.sass */
ul.news li .desc h4 a {
  font-family: "Aller Light";
  color: #329C79;
  font-size: 0.87255em;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 1342, ../sass/index.sass */
ul.news li .desc h4 a:hover {
  color: #242424;
}

/* line 1345, ../sass/index.sass */
.recent-news h3 {
  font-family: "Aller Light";
  margin-bottom: 4%;
  line-height: 1.5em;
  font-size: 1.5em;
  text-transform: capitalize;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
  letter-spacing: -1px;
}

/* line 1355, ../sass/index.sass */
.blogsidebar {
  display: block;
  float: left;
}

/* line 1359, ../sass/index.sass */
.span_2_of_blog {
  width: 70.1%;
}

/* line 1362, ../sass/index.sass */
.span_1_of_blog {
  width: 29.2%;
}

/* line 1365, ../sass/index.sass */
.blog-list {
  color: #555;
}
/* line 1367, ../sass/index.sass */
.blog-list li {
  font-family: "Aller Light";
  color: #242424;
  font-size: 0.8725em;
  margin-bottom: 20px;
  line-height: 1.5em;
  text-shadow: 0 1px 0 #ffffff;
}
/* line 1374, ../sass/index.sass */
.blog-list li a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #39BD91;
}
/* line 1380, ../sass/index.sass */
.blog-list li a:hover {
  color: #242424;
}

/* line 1383, ../sass/index.sass */
.blog {
  padding: 20px 0;
}

/* line 1386, ../sass/index.sass */
.blog-img, .blog-img1 {
  padding-top: 10px;
}

/* start contact */
/* line 1391, ../sass/index.sass */
.contact_left {
  float: left;
  margin-right: 3.3333%;
  width: 32.3333%;
}

/* line 1396, ../sass/index.sass */
.contact_right {
  float: left;
  width: 63.3333%;
}

/* line 1400, ../sass/index.sass */
.contact_left h3 {
  font-family: "Aller Light";
  margin-bottom: 2%;
  line-height: 1.5em;
  font-size: 1.5em;
  text-transform: capitalize;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
  letter-spacing: -1px;
}

/* line 1410, ../sass/index.sass */
.company_address {
  padding-top: 10px;
}
/* line 1412, ../sass/index.sass */
.company_address p {
  font-family: "Aller Light";
  color: #555555;
  text-shadow: 0 1px 0 #ffffff;
  line-height: 1.8em;
  font-size: 0.8725em;
}
/* line 1418, ../sass/index.sass */
.company_address p a {
  color: #39BD91;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 1425, ../sass/index.sass */
.company_address p a:hover {
  color: #242424;
}

/* line 1428, ../sass/index.sass */
.contact_right h3 {
  font-family: "Aller Light";
  margin-bottom: 2%;
  line-height: 1.5em;
  font-size: 1.5em;
  text-transform: capitalize;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
  letter-spacing: -1px;
}

/* line 1438, ../sass/index.sass */
.contact-form {
  position: relative;
  padding-bottom: 30px;
}
/* line 1441, ../sass/index.sass */
.contact-form div {
  padding: 5px 0;
}
/* line 1443, ../sass/index.sass */
.contact-form span {
  font-family: "Aller Light";
  display: block;
  color: #555555;
  text-shadow: 0 1px 0 #ffffff;
  line-height: 1.5em;
  font-size: 0.8725em;
}
/* line 1450, ../sass/index.sass */
.contact-form input[type="text"] {
  font-family: "Aller Light";
  padding: 10px;
  display: block;
  width: 98%;
  background: #ffffff;
  outline: none;
  color: #555555;
  font-size: 1em;
  border: 1px solid #DADADA;
  -webkit-appearance: none;
}
/* line 1461, ../sass/index.sass */
.contact-form textarea {
  font-family: "Aller Light";
  padding: 10px;
  display: block;
  width: 98%;
  background: #ffffff;
  outline: none;
  color: #555555;
  font-size: 1em;
  border: 1px solid #DADADA;
  -webkit-appearance: none;
  resize: none;
  height: 120px;
}
/* line 1474, ../sass/index.sass */
.contact-form input[type="submit"] {
  margin-top: 10px;
  font-family: "Aller Light";
  cursor: pointer;
  background: #242424;
  border: 1px solid #242424;
  padding: 10px 24px;
  outline: none;
  color: #ffffff;
  font-size: 1em;
  text-transform: capitalize;
  -webkit-appearance: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
/* line 1494, ../sass/index.sass */
.contact-form input[type="submit"]:hover {
  background: #57C5A0;
  border: 1px solid #57c5a0;
}

/* Media Queries */
@media only screen and (max-width: 1600px) {
  /* line 1502, ../sass/index.sass */
  .hamburger {
    display: none;
  }

  /* line 1504, ../sass/index.sass */
  .cross {
    display: none;
  }

  /* line 1506, ../sass/index.sass */
  .wrap {
    width: 95%;
  }

  /* line 1508, ../sass/index.sass */
  .web_search {
    width: 26.33333%;
  }

  /* line 1510, ../sass/index.sass */
  ul.news li .desc {
    width: 78.33333%;
  }

  /* line 1512, ../sass/index.sass */
  .product-image {
    width: 77.33333% !important;
  }

  /* line 1514, ../sass/index.sass */
  .row2 {
    padding-bottom: 40px;
  }
}
@media only screen and (max-width: 960px) {
  /* line 1518, ../sass/index.sass */
  .top_bg {
    width: 100%;
  }

  /* line 1520, ../sass/index.sass */
  .main_top {
    width: 100%;
  }

  /* line 1522, ../sass/index.sass */
  .hamburger {
    display: none;
  }

  /* line 1524, ../sass/index.sass */
  .cross {
    display: none;
  }

  /* line 1526, ../sass/index.sass */
  .wrap {
    width: 95%;
  }

  /* line 1528, ../sass/index.sass */
  .menu ul li a {
    padding: 26px 20px;
  }

  /* line 1530, ../sass/index.sass */
  .header_right ul li a {
    padding: 20px 10px;
  }

  /* line 1532, ../sass/index.sass */
  .top-nav {
    display: block;
    top: 70px;
  }

  /* line 1535, ../sass/index.sass */
  .f_search {
    width: 38.3333%;
  }

  /* line 1537, ../sass/index.sass */
  .copy {
    text-align: center;
    float: none;
    clear: both;
    margin: 4% 0;
  }

  /* line 1542, ../sass/index.sass */
  .f_nav1 {
    text-align: center;
    float: none;
  }
  /* line 1545, ../sass/index.sass */
  .f_nav1 li {
    float: none;
    margin-right: 10px;
    display: inline-block;
  }

  /* line 1549, ../sass/index.sass */
  .grid1_of_3, .column {
    float: none;
    margin-bottom: 4%;
    width: 99.3333%;
    margin-left: 0;
  }
  /* line 1554, ../sass/index.sass */
  .grid1_of_3 img, .column img {
    padding: 4% 0;
  }

  /* line 1557, ../sass/index.sass */
  .column h3 {
    padding-left: 100px;
  }

  /* line 1559, ../sass/index.sass */
  .grid1_of_2 {
    width: 90.77777%;
    margin-left: 0;
  }
  /* line 1562, ../sass/index.sass */
  .grid1_of_2.bg {
    margin-top: 4%;
    padding: 4%;
  }

  /* line 1565, ../sass/index.sass */
  .cont-grid h4 {
    font-size: 1.2em;
  }

  /* line 1567, ../sass/index.sass */
  .span1_of_3 {
    float: none;
    width: 99.9999%;
    margin-left: 0;
  }
  /* line 1571, ../sass/index.sass */
  .span1_of_3 h3 {
    margin: 20px 0;
  }

  /* line 1573, ../sass/index.sass */
  .span_2_of_3 {
    width: 100%;
    float: none;
  }

  /* line 1576, ../sass/index.sass */
  .span_1_of_3 {
    width: 100%;
    margin: 0;
  }

  /* line 1579, ../sass/index.sass */
  .contact_left {
    float: none;
    margin-right: 0%;
    width: 100%;
  }

  /* line 1583, ../sass/index.sass */
  .contact_right, .span1_of_1 {
    float: none;
    width: 100%;
  }

  /* line 1586, ../sass/index.sass */
  .left_content {
    float: none;
    width: 100%;
    margin-right: 0%;
  }

  /* line 1590, ../sass/index.sass */
  .left_sidebar {
    float: none;
    width: 100%;
  }

  /* line 1593, ../sass/index.sass */
  .left_content_btm {
    margin-top: 0%;
  }

  /* line 1595, ../sass/index.sass */
  ul.color-list {
    margin: 4% 0 0;
  }

  /* line 1597, ../sass/index.sass */
  .login_left {
    float: none;
    width: 92.33333%;
    margin-left: 0%;
    background: #ffffff;
    padding: 4%;
    margin: 4% 0;
  }

  /* line 1604, ../sass/index.sass */
  .reg_fb img {
    padding: 15px;
  }

  /* line 1606, ../sass/index.sass */
  .wrap {
    width: 95%;
  }

  /* line 1608, ../sass/index.sass */
  .tabs label {
    width: 23.3333%;
    padding: 0 20px;
    font-size: 14px;
  }

  /* line 1612, ../sass/index.sass */
  .f_search {
    width: 100%;
  }

  /* line 1614, ../sass/index.sass */
  label {
    display: block;
  }

  /* line 1616, ../sass/index.sass */
  .content {
    width: 99.7777%;
    min-height: 650px;
  }

  /* line 1620, ../sass/index.sass */
  .f_search form input[type="text"] {
    width: 80%;
  }
  /* line 1622, ../sass/index.sass */
  .f_search form input[type="submit"] {
    width: 45px;
  }

  /* line 1624, ../sass/index.sass */
  .soc_icons {
    float: none;
    margin-right: 0;
    text-align: center;
    margin: 8% 0 4%;
    display: inline-block;
  }

  /* line 1630, ../sass/index.sass */
  .grid1_of_2 {
    float: none;
    width: 100%;
    margin-left: 0;
  }

  /* line 1634, ../sass/index.sass */
  .span1_of_2 {
    float: none;
    width: 90%;
    padding: 4%;
    margin: 4% 0;
  }

  /* line 1639, ../sass/index.sass */
  .date1 {
    width: 18.3333%;
  }

  /* line 1641, ../sass/index.sass */
  .date_text {
    width: 78.3333%;
  }

  /* line 1644, ../sass/index.sass */
  .top_main h2 {
    float: none;
    text-align: center;
  }
  /* line 1647, ../sass/index.sass */
  .top_main a {
    float: none;
    text-align: center;
    margin: 4% 0 6%;
    display: block;
  }

  /* line 1652, ../sass/index.sass */
  .grid1_of_2.bg {
    padding: 0;
    background: none;
  }

  /* line 1655, ../sass/index.sass */
  .container1 {
    width: 100%;
    position: relative;
  }

  /* line 1658, ../sass/index.sass */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 150px;
    padding-bottom: 10px;
  }
  /* line 1665, ../sass/index.sass */
  .centered h2 {
    font-size: 30px;
  }
  /* line 1667, ../sass/index.sass */
  .centered h3 {
    font-size: 20px;
  }

  /* line 1669, ../sass/index.sass */
  .btn {
    width: 90px;
    padding: 10px;
    margin: 0;
  }

  /* line 1673, ../sass/index.sass */
  .column1 {
    float: none;
    margin-bottom: 4%;
    width: 20%;
    margin-left: 0;
  }

  /* line 1678, ../sass/index.sass */
  .custom-select {
    font-size: 25px;
    width: 100px;
    height: 30px;
  }

  /* line 1682, ../sass/index.sass */
  .column2 {
    padding-top: 0px;
    padding-bottom: 30px;
  }

  /* line 1685, ../sass/index.sass */
  .row2 {
    padding-bottom: 40px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 1689, ../sass/index.sass */
  .hamburger {
    display: inline-block;
    padding: 90px 15px 0px 15px;
  }

  /* line 1692, ../sass/index.sass */
  .cross {
    display: inline-block;
    padding: 90px 15px 0px 15px;
  }

  /* line 1695, ../sass/index.sass */
  .menu ul li a {
    display: none;
  }

  /* line 1697, ../sass/index.sass */
  .cont-grid-img {
    margin-right: 3px;
    width: 300px;
    height: 400px;
    float: left;
  }

  /* line 1702, ../sass/index.sass */
  img {
    margin-top: 10px;
  }

  /* line 1705, ../sass/index.sass */
  .column h3 {
    padding: 50%;
  }

  /* line 1707, ../sass/index.sass */
  .web_search input[type="text"] {
    width: 40%;
  }

  /* line 1709, ../sass/index.sass */
  .grid1_of_3, .column {
    float: none;
    margin-bottom: 4%;
    width: 99.3333%;
    margin-left: 0;
  }
  /* line 1714, ../sass/index.sass */
  .grid1_of_3 img, .column img {
    padding: 4% 0;
  }

  /* line 1717, ../sass/index.sass */
  .column h3 {
    padding-left: 80px;
    padding-top: 0px;
    padding-bottom: 10px;
  }

  /* line 1722, ../sass/index.sass */
  .f_search form input[type="text"] {
    width: 80.3333%;
  }
  /* line 1724, ../sass/index.sass */
  .f_search form input[type="submit"] {
    width: 15%;
  }

  /* line 1726, ../sass/index.sass */
  .soc_icons ul li a {
    padding: 5px;
    background: #2e2e2e no-repeat 12px 7px;
  }

  /* line 1729, ../sass/index.sass */
  .tag {
    font-size: 15px;
  }

  /* line 1731, ../sass/index.sass */
  .web_search {
    display: none;
  }

  /* line 1733, ../sass/index.sass */
  .container1 {
    width: 100%;
    position: relative;
  }

  /* line 1736, ../sass/index.sass */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 30px;
    padding-bottom: 10px;
  }
  /* line 1743, ../sass/index.sass */
  .centered h2 {
    font-size: 10px;
  }
  /* line 1745, ../sass/index.sass */
  .centered h3 {
    font-size: 8px;
  }

  /* line 1747, ../sass/index.sass */
  .btn {
    width: 50px;
    padding: 10px;
    margin: 0;
  }

  /* line 1751, ../sass/index.sass */
  .price {
    font-size: 0.8725em;
    padding: 25px 12px;
    position: absolute;
    bottom: 0px;
    left: 10px;
  }

  /* line 1757, ../sass/index.sass */
  .price1 {
    font-size: 0.8725em;
    padding: 25px 15px;
    position: absolute;
    top: 0px;
    right: 10px;
  }
  /* line 1763, ../sass/index.sass */
  .price1.bg1 {
    width: 60px;
  }

  /* line 1765, ../sass/index.sass */
  .column1 {
    float: none;
    margin-bottom: 4%;
    width: 50%;
    margin-left: 0;
  }

  /* line 1770, ../sass/index.sass */
  .custom-select {
    font-size: 15px;
    width: 100px;
    height: 20px;
  }

  /* line 1774, ../sass/index.sass */
  .row2 {
    padding-bottom: 40px;
  }
}
@media only screen and (max-width: 320px) {
  /* line 1779, ../sass/index.sass */
  .top_bg {
    width: 100%;
  }

  /* line 1781, ../sass/index.sass */
  .main_top {
    width: 100%;
  }

  /* line 1783, ../sass/index.sass */
  .hamburger {
    display: inline-block;
    padding: 120px 15px 0px 15px;
  }

  /* line 1786, ../sass/index.sass */
  .cross {
    display: inline-block;
    padding: 120px 15px 0px 15px;
  }

  /* line 1789, ../sass/index.sass */
  .wrap {
    width: 95%;
  }

  /* line 1791, ../sass/index.sass */
  .logo {
    float: none;
    text-align: center;
  }

  /* line 1794, ../sass/index.sass */
  .log_reg {
    float: none;
    text-align: center;
    border-right: none;
  }

  /* line 1798, ../sass/index.sass */
  .grid1_of_3, .column {
    float: none;
    margin-bottom: 4%;
    width: 99.3333%;
    margin-left: 0;
  }
  /* line 1803, ../sass/index.sass */
  .grid1_of_3 img, .column img {
    padding: 4% 0;
  }

  /* line 1806, ../sass/index.sass */
  .column h3 {
    padding-left: 80px;
    padding-top: 0px;
    padding-bottom: 10px;
  }

  /* line 1810, ../sass/index.sass */
  .price1 {
    font-size: 10px;
  }

  /* line 1813, ../sass/index.sass */
  .f_search form input[type="text"] {
    width: 80.3333%;
  }
  /* line 1815, ../sass/index.sass */
  .f_search form input[type="submit"] {
    width: 18.33333%;
  }

  /* line 1818, ../sass/index.sass */
  .tabs label {
    width: 84.3333%;
    padding: 0 20px;
  }
  /* line 1821, ../sass/index.sass */
  .tabs input {
    width: 98.33333%;
  }
  /* line 1823, ../sass/index.sass */
  .tabs input#tab-2, .tabs input#tab-3 {
    left: 0;
  }

  /* line 1825, ../sass/index.sass */
  .content {
    width: 99.7777%;
    min-height: 950px;
  }
  /* line 1828, ../sass/index.sass */
  .content ul {
    margin-left: 0px;
  }
  /* line 1830, ../sass/index.sass */
  .content div {
    width: 80.3333%;
  }

  /* line 1832, ../sass/index.sass */
  .soc_icons ul li a {
    padding: 5px;
    background: #2e2e2e no-repeat 12px 7px;
  }

  /* line 1835, ../sass/index.sass */
  .cont-grid-img {
    margin-right: 3px;
    width: 200px;
    height: 300px;
    float: left;
  }
  /* line 1840, ../sass/index.sass */
  .cont-grid-img img {
    margin-top: 10px;
  }

  /* line 1842, ../sass/index.sass */
  .container1 {
    width: 100%;
    position: relative;
  }

  /* line 1845, ../sass/index.sass */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 30px;
    padding-bottom: 10px;
  }
  /* line 1852, ../sass/index.sass */
  .centered h2 {
    font-size: 10px;
  }
  /* line 1854, ../sass/index.sass */
  .centered h3 {
    font-size: 5px;
  }

  /* line 1856, ../sass/index.sass */
  .btn {
    width: 30px;
    padding: 10px;
    margin: 0;
  }

  /* line 1860, ../sass/index.sass */
  .price {
    font-size: 0.8725em;
    padding: 25px 12px;
    position: absolute;
    bottom: 0px;
    left: 10px;
  }

  /* line 1866, ../sass/index.sass */
  .price1 {
    font-size: 0.8725em;
    padding: 25px 15px;
    position: absolute;
    top: 0px;
    right: 10px;
  }
  /* line 1872, ../sass/index.sass */
  .price1.bg1 {
    width: 60px;
  }

  /* line 1874, ../sass/index.sass */
  .column1 {
    float: none;
    margin-bottom: 4%;
    width: 50%;
    margin-left: 0;
  }

  /* line 1879, ../sass/index.sass */
  .custom-select {
    font-size: 15px;
    width: 100px;
    height: 20px;
  }

  /* line 1883, ../sass/index.sass */
  .row2 {
    padding-bottom: 40px;
  }
}
