@font-face {
  font-family: "Aller Light";
  src: url(../project/aller.light.ttf) format(OpenType);
}
/* line 6, ../sass/login.sass */
body {
  margin: 0 auto;
  font-family: "Aller Light";
}

/* line 10, ../sass/login.sass */
div.container {
  background: black;
  margin: 4em auto 2em auto;
  padding: 1em;
  overflow: hidden;
  border: 2px #57C5A0;
}
/* line 16, ../sass/login.sass */
div.container label, div.container input, div.container button {
  display: block;
  width: 80%;
  font-size: 1em;
  color: white;
}
/* line 21, ../sass/login.sass */
div.container label {
  margin: 0.5em auto 0.5em auto;
}
/* line 23, ../sass/login.sass */
div.container input {
  padding: 0.8em 0 0.8em 0.8em;
  outline: none;
  border: none;
  border-bottom: 2px #57C5A0;
  margin: 0.5em auto 0.5em auto;
}
/* line 29, ../sass/login.sass */
div.container button {
  outline: none;
  margin: 2em auto 1em auto;
  padding: 1.2em;
  cursor: pointer;
  letter-spacing: 0.2em;
  background-color: #57C5A0;
  color: white;
  border: none;
  border-radius: 5px;
}

/* line 41, ../sass/login.sass */
.tab {
  margin: 0 auto 0 auto;
  display: flex;
  width: 100%;
}

/* line 46, ../sass/login.sass */
.tablinks {
  padding: 1em 0 1em 0;
  width: 50%;
  text-align: center;
  color: white;
  cursor: pointer;
  border: 0.4px #57C5A0;
  transition: all 0.2s linear;
}

/* line 55, ../sass/login.sass */
.active {
  animation-name: activetab;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  background-color: #57C5A0;
  color: white;
}

@keyframes activetab {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
/* line 70, ../sass/login.sass */
.tabcontent {
  width: 100%;
  margin: 0 auto 0 auto;
  display: none;
  padding: 2em 0 2em 0;
  overflow: hidden;
}

@media only screen and (min-width: 1224px) {
  /* line 79, ../sass/login.sass */
  div.container {
    overflow: hidden;
    width: 400px;
    background: black;
  }
}
@media only screen and (min-width: 1824px) {
  /* line 85, ../sass/login.sass */
  div.container {
    width: 400px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 89, ../sass/login.sass */
  div.container {
    width: 80%;
  }
}
