/* start slider */
@font-face {
  font-family: "Aller Light";
  src: url(../project/aller.light.ttf) format(OpenType);
}
/* line 5, ../sass/slider.sass */
.slider {
  background: #2e2e2e;
  padding-bottom: 8%;
}

/* line 9, ../sass/slider.sass */
.ei-slider {
  font-family: "Aller Light";
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 450px;
  margin: 0 auto;
}

/* line 17, ../sass/slider.sass */
.ei-slider-large {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
/* line 22, ../sass/slider.sass */
.ei-slider-large li {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
/* line 29, ../sass/slider.sass */
.ei-slider-large li img {
  margin-left: 0.5px !important;
  margin-right: 0.5px;
}

/* line 33, ../sass/slider.sass */
.ei-title {
  position: absolute;
  right: 15%;
  top: 10%;
}

/* line 38, ../sass/slider.sass */
.btn {
  background: #57C5A0;
  color: white;
  padding: 25px 12px 10px;
  display: inline-block;
  line-height: 2px;
}

/* line 45, ../sass/slider.sass */
.ei_icons {
  padding: 10px 10px 5px;
  background: white;
  line-height: 2px;
}

/* line 50, ../sass/slider.sass */
.ei-title h2 {
  font-family: "Aller Light";
  padding: 0 0 0;
  font-size: 40px;
  line-height: 30px;
  color: #242424;
  text-transform: capitalize;
}
/* line 57, ../sass/slider.sass */
.ei-title h3 {
  font-family: "Aller Light";
  padding-top: 1px;
  font-size: 30px;
  line-height: 30px;
  color: #333232;
}
/* line 63, ../sass/slider.sass */
.ei-title h3.active {
  color: #000000;
}

/* line 66, ../sass/slider.sass */
.ei-slider-thumbs {
  height: 10px;
  margin: 0 auto;
  position: relative;
  align-items: center;
}
/* line 71, ../sass/slider.sass */
.ei-slider-thumbs li {
  float: left;
  height: 100%;
}
/* line 74, ../sass/slider.sass */
.ei-slider-thumbs li.ei-slider-element {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 90%;
  text-indent: -9000px;
  background: #5B6A7F;
  background: #57C5A0;
}
/* line 83, ../sass/slider.sass */
.ei-slider-thumbs li a {
  text-align: center;
  display: block;
  background: #000000;
  width: 100%;
  height: 90%;
}
/* line 89, ../sass/slider.sass */
.ei-slider-thumbs li a:hover {
  background-color: #2a2a2b;
}
/* line 91, ../sass/slider.sass */
.ei-slider-thumbs li a span {
  padding-top: 10px;
  font-size: 20px;
  display: inline-block;
  color: #999999;
  text-transform: capitalize;
}
/* line 92, ../sass/slider.sass */
.ei-slider-thumbs li a span.active {
  color: #ffffff;
}
/* line 99, ../sass/slider.sass */
.ei-slider-thumbs li a p {
  text-transform: capitalize;
  font-size: 10px;
  color: #999999;
  line-height: 20px;
}

@media only screen and (max-width: 1600px) {
  /* line 106, ../sass/slider.sass */
  .wrap {
    width: 95%;
  }

  /* line 108, ../sass/slider.sass */
  .btn {
    width: 130px;
    height: 50px;
    padding: 10px;
    margin: 0;
    text-align: center;
  }
}
@media only screen and (max-width: 960px) {
  /* line 117, ../sass/slider.sass */
  .wrap {
    width: 95%;
  }

  /* line 119, ../sass/slider.sass */
  .ei-title {
    right: 5%;
    top: 10%;
  }

  /* line 122, ../sass/slider.sass */
  .slider {
    padding-bottom: 20%;
  }

  /* line 124, ../sass/slider.sass */
  .image1_of_3 span {
    top: -50px;
  }
}
@media only screen and (max-width: 320px) {
  /* line 128, ../sass/slider.sass */
  .wrap {
    width: 95%;
  }

  /* line 130, ../sass/slider.sass */
  .ei-title {
    right: 0%;
    top: 10%;
  }
  /* line 133, ../sass/slider.sass */
  .ei-title h3 {
    padding-top: 5px;
    font-size: 20px;
  }
  /* line 136, ../sass/slider.sass */
  .ei-title h2 {
    padding-top: 5px;
    font-size: 30px;
  }

  /* line 139, ../sass/slider.sass */
  .slider {
    padding-bottom: 20%;
  }

  /* line 141, ../sass/slider.sass */
  .image1_of_3 span {
    top: -100px;
  }

  /* line 143, ../sass/slider.sass */
  .slider {
    padding-bottom: 40%;
  }

  /* line 145, ../sass/slider.sass */
  .image1_of_3 {
    float: none;
    width: 100%;
    margin-left: 0;
    text-align: right;
  }
}
